.open-button {
    background-color: #015d67;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 1;
    position: fixed;
    bottom: 0px;
    right: 250px;
    width: 20%;
}

/* The popup chat - hidden by default */
.chat-popup {
    display: none;
    position: fixed;
    bottom: 0px;
    right: 246px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    width: 21%;
}


.grid-container {
    display: grid;
    grid-template-areas: "menu header" "menu main" "menu footer";
    grid-gap: 10px;
    background-color: #f0f0f0;
    padding: 10px;
}

/* Add styles to the form container */


/* Full-width textarea */
/*.form-container textarea {
  position: relative;
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}*/

/* When the textarea gets focus, do something */

.chatHeader {
    position: relative;
    top: 0;
    background-color: #015d67;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
}

/* Set a style for the submit/send button */

/* Add a red background color to the cancel button */
.cls_btn {
    position: relative;
    color: white;
    text-align: right;
    cursor: pointer;
}

.opn_btn {
    position: relative;
    color: white;
    text-align: right;
    cursor: pointer;
}

/* Add some hover effects to buttons */
/*.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}*/