.orgPath {
    position: absolute;
    top: 160px;
    width: 200px;
    height: 20px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 17px;
    color: #979797;
    text-align: left;
}

.suborgPath {
    position: absolute;
    top: 160px;
    left: 200px;
    width: 500px;
    height: 20px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 17px;
    color: #676767;
    text-align: left;
}

.org-detail--box {
    position: absolute;
    width: 1300px;
    height: 1300px;
    top: 240px;

    background: #FFFFFF;

    box-shadow: 0px 4px 8px rgba(1, 61, 68, 0.15);
    border-radius: 8px;
}

.org-detail__icon {
    position: absolute;
    top: 22px;
    left: 22px;
    width: 50px;
    height: 50px;

    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25), 0px 0px 4px rgba(0, 0, 0, 0.25);
}

    .org-detail__icon img {
        position: relative;
        top: 2px;
        left: 2px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
    }

.org-detail__title {
    position: absolute;
    width: 600px;
    height: 29px;
    left: 100px;
    top: 32px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;

    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    text-transform: capitalize;

    color: #000000;
}

.org-detail__description {
    position: absolute;
    width: 1000px;
    height: 50px;
    left: 50px;
    top: 95px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.01em;

    color: #000000;
}

.org-detail__eligibility {
    position: absolute;
    width: 500px;
    height: 18px;
    left: 220px;
    top: 160px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;

    text-align: left;

    color: #191919;
}

.org-detail__eligibility--boldthis {
    position: absolute;
    width: 170px;
    height: 18px;
    left: 50px;
    top: 160px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: 800;
    font-size: 13px;
    line-height: 16px;

    text-align: left;

    color: #191919;
}

.org-detail__hours {
    position: absolute;
    width: 500px;
    height: 18px;
    left: 200px;
    top: 200px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;

    text-align: left;

    color: #191919;
}

.org-detail__hours--boldthis{
    position: absolute;
    width: 150px;
    height: 18px;
    left: 50px;
    top: 200px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: 800;
    font-size: 13px;
    line-height: 16px;

    text-align: left;

    color: #191919;
}

.org-detail__contact--box {
    position: absolute;
    width: 600px;
    height: 220px;
    left: 50px;
    top: 260px;

    background: #F5F5F5;

    box-shadow: 0px 4px 8px rgba(1, 61, 68, 0.15);
    border-radius: 8px;
}

.org-detail__contact--h2 {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 80px;
    height: 25px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 19px;
    letter-spacing: 0.01em;
    text-transform: capitalize;

    color: #000000;
}

.org-detail__contact--name {
    position: absolute;
    top: 52px;
    left: 20px;
    width: 400px;
    height: 25px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;

    color: #000000;
}

.org-detail__contact--email {
    position: absolute;
    top: 85px;
    left: 20px;
    width: 400px;
    height: 25px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;

    color: #000000;
}

.org-detail__contact--phone {
    position: absolute;
    top: 118px;
    left: 20px;
    width: 400px;
    height: 25px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;

    color: #000000;
}

.org-detail__contact--visit__btn {
    position: absolute;
    width: 125px;
    height: 27px;
    left: 20px;
    top: 160px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;

    color: #FFFFFF;

    background: #015D67;
    border-radius: 6px;

    cursor: pointer;
}

.org-detail__contact--share__btn {
    position: absolute;
    width: 125px;
    height: 27px;
    left: 160px;
    top: 160px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;

    color: #FFFFFF;

    background: #015D67;
    border-radius: 6px;

    cursor: pointer;
}

.org-detail--location {
    position: absolute;
    width: 180px;
    height: 17px;
    left: 700px;
    top: 280px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 19px;
    letter-spacing: 0.01em;
    text-transform: capitalize;


    color: #191919;
}

.org-detail--address {
    position: absolute;
    width: 400px;
    height: 22px;
    left: 700px;
    top: 320px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 17px;


    color: #191919;
}

.org-detail--city {
    position: absolute;
    width: 200px;
    height: 22px;
    left: 700px;
    top: 350px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 17px;


    color: #191919;
}

.org-detail--directions {
    position: absolute;
    width: 200px;
    height: 22px;
    left: 700px;
    top: 390px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;


    color: #015D67;
}

.org-detail--programs {
    position: absolute;
    width: 200px;
    height: 22px;
    left: 50px;
    top: 550px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 17px;


    color: #191919;
}

.org-detail--areas {
    position: absolute;
    width: 200px;
    height: 22px;
    left: 50px;
    top: 720px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 17px;


    color: #191919;
}

.org-detail--areas__box {
    position: absolute;
    width: 200px;
    height: 150px;
    left: 50px;
    top: 750px;

}

.org-detail--areas__county{
    position: relative;
    width: 200px;
    height: 30px;

    top: 10px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 17px;

    color: #191919;
}

.org-detail--languages {
    position: absolute;
    width: 200px;
    height: 22px;
    left: 800px;
    top: 720px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 17px;


    color: #191919;
}

.org-detail--languages__box {
    position: absolute;
    width: 200px;
    height: 150px;
    left: 800px;
    top: 750px;

}

.org-detail--languages__languages{
    position: relative;
    width: 200px;
    height: 30px;

    top: 10px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 17px;

    color: #191919;
}


.modalMap {
    width: 1300px;
    height: 304px;
    position: relative;
    top: 950px;
    left: 0px;
}

.org-detail--related {
    position: absolute;
    width: 200px;
    height: 22px;
    left: 1340px;
    top: 300px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 17px;


    color: #191919;
}