.signup_layout {
    margin: auto;
    width: 460px;
    height: 500px;
}

#id_username {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: helvetica;
    letter-spacing: 0.05em;
}

#id_email {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: helvetica;
    letter-spacing: 0.05em;
}

#id_password1 {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: helvetica;
    letter-spacing: 0.05em;
}

#id_password2 {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: helvetica;
    letter-spacing: 0.05em;
}

#id_first_name {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: helvetica;
    letter-spacing: 0.05em;
}

#id_middle_name {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: helvetica;
    letter-spacing: 0.05em;
}

#id_last_name {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: helvetica;
    letter-spacing: 0.05em;
}

.profile-picture-upload{
    position: relative;
    width: 100%;
    background: #FFFFFF;
    opacity: 0.6;
    border: 2px solid #015D67;
    box-sizing: border-box;
    border-radius: 6px;
    cursor: pointer;
    padding: 3px;
}

button[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

input[type=file]{
    display: none;
}

button:hover {
    opacity: 0.8;
}


.error-review{
    background: rgba(233, 110, 76, 0.41) !important;
}