.calendar {
  position: relative;
  overflow: hidden;
  text-transform: capitalize;
  text-align: center;
  font: 15px/1em inherit;
  color: #545A5C; 
  border-radius: 5px;
  margin-top: 0 !important;
  top:0 !important;
  height: inherit;
  z-index: 1;
}
.calendar-container{
    top: 0;
}
.calendar header {
  position: relative;
  /* justify-content: center; */
  margin-bottom: 10px;
  background: #FCFCFC;
  margin-top: 0 !important;
  top: 0 !important;
  height: 43px;
  display: -webkit-box;
  color: #015D67;
  box-shadow: 0px 1px 1px #EBF2F2;
border-radius: 6px 6px 0px 0px;
}
footer {
    position: relative;
    width: 100%;
}
.event-header{
  position: relative;
  /* justify-content: center; 
  margin-bottom: 10px;*/
  background: #FCFCFC;
  margin-top: 0 !important;
  top: 0 !important;
  height: 43px;
  display: -webkit-box;
  color: #015D67;
  box-shadow: 0px 1px 1px #ebf2f2;
  border-radius: 6px 6px 0px 0px;
}
.event-Container {
    position: absolute;
    width: inherit;
    height: 60px;
    background-color: #f6f6f4;
    text-align: left;
    vertical-align: middle;
    line-height: 60px;
    font-weight: bold;
    color: black;
    overflow-y: scroll;
}
.calendar a {
    margin-top: 15px;
    text-decoration: none;
    color: inherit;
}
  .calendar header .fa-chevron-left {
    position: absolute;
    width: 10px;
    height: 18px;
    left: 20px;
    top: 0px;
    cursor: pointer;
    
    /* Font Awesome Icon / Solid (16) */
    
    font-family: Font Awesome 5 Free;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    color: #013D44;
  }
    .calendar header .fa-chevron-right {
/* chevron-right */

vertical-align: middle;

position: absolute;
width: 10px;
height: 18px;
right: 262px;
top: 0px;
cursor: pointer;

/* Font Awesome Icon / Solid (16) */

font-family: Font Awesome 5 Free;
font-style: normal;
font-weight: 900;
font-size: 16px;
line-height: 18px;
display: flex;
align-items: center;
text-align: right;

color: #013D44;
  }
    /*.calendar header .btn-next:before {
      transform: rotate(45deg); 
    }*/
      .calendar header .month {
        position: absolute;
        width: 105px;
        height: 20px;
        left: calc(50% - 79px/2 - 132px);
        top: 15px;
        font-family: Effra;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #013D44;
        word-wrap: normal;
      }
    .calendar header .month .year {
      word-wrap: normal;

      position: absolute;
      width: 79px;
      height: 20px;
      left: calc(50% - 79px/2 - 121px);
      top: 12px;
      
      /* H2 Title */
      
      font-family: Effra;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 20px;
      /* identical to box height, or 111% */
      
      text-align: center;
      
      color: #013D44;
    }
  .calendar table {
    width: 100%;
    border-spacing: 0px; }
  .calendar thead {
    font-size: .8em;
    font-weight: 600;
  }
  .calendar .day {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 2.5em;
    border-radius: 50%;
    border: 2px solid transparent;
    cursor: pointer; }
    .calendar .day:hover {
        border: 2px solid #015D67;
    }

    .calendar .day.today {
      color: white; 

background: #21B5B7;
    }
        .calendar .day.today.has-event:after {
            background: #21B5B7;
        }
    .calendar .day.wrong-month {
      color: #CBD1D2; }
    .calendar .day.wrong-month:hover {
      border: 2px solid transparent; }
    .calendar .day.has-event:after {
        content: '';
        position: absolute;
        top: calc(50% + .6em);
        left: calc(50% - 2px);
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: #015D67;
    }
    .calendar .day.disabled {
      cursor: pointer; }
      .calendar .day.disabled:hover {
        border: 2px solid #21B5B7; }
    .calendar .event-container .event-wrapper {
      overflow-y: auto;
      max-height: 100%; 

    }
      .calendar .event-container .close:before, .calendar .event-container .close:after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 2px;
        height: 100%;
        background-color: #21B5B7; }
      .calendar .event-container .close:before {
        transform: rotate(45deg); }
      .calendar .event-container .close:after {
        transform: rotate(-45deg); }
.calendar .event-container .event {
    position: relative;
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;
    background: #21B5B7;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
    text-align: left;
    color: white;
}
      .calendar .event-container .event-date {
        margin-bottom: 1em; }
      .calendar .event-container .event-hour {
        float: right; }
      .calendar .event-container .event-summary {
        font-weight: 600; }

        #event-page {
          display: none;
          /* Hidden by default */
          position: fixed;
          /* Stay in place */
          z-index: 2;
          /* Sit on top */
          left: 0;
          top: 0;
          width: 100%;
          /* Full width */
          height: 100%;
          /* Full height */
          overflow: auto;
          /* Enable scroll if needed */
          background-color: rgb(0, 0, 0);
          /* Fallback color */
          background-color: rgba(0, 0, 0, 0.4);
          /* Black w/ opacity */
          padding-top: 60px;
          overflow: hidden;
        }
        
        /* Modal Content/Box */
        #event-page-content {
          position: relative;
          background-color: #fefefe;
          margin: 5% auto 15% auto;
          border: 1px solid #000;
          width: 40%;
          height: 67%;
          z-index: 3;
          border-radius: 5px;
          margin-right: 27%;
          box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
          overflow: hidden;
        }
        #delete-page {
          background-color: #fefefe;
          margin: 5% auto 15% auto;
          /* 5% from the top, 15% from the bottom and centered */
          border: 1px solid #000;
          width: 30%;
          height: 30%;
          z-index: 20;
          border-radius: 5px;
          margin-right: 33%;
          /* Could be more or less, depending on screen size */
          box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
          overflow: hidden;
      }

      .delete-modal {
          display: none;
          /* Hidden by default */
          position: fixed;
          /* Stay in place */
          z-index: 19;
          /* Sit on top */
          left: 0;
          top: 0;
          width: 100%;
          /* Full width */
          height: 100%;
          /* Full height */
          overflow: auto;
          /* Enable scroll if needed */
          background-color: rgb(0, 0, 0);
          /* Fallback color */
          background-color: rgba(0, 0, 0, 0.4);
          /* Black w/ opacity */
          padding-top: 60px;
          overflow: hidden;
      }
          .event-container {
            display: none;
            position: relative;
            overflow: hidden;
            text-transform: capitalize;
            text-align: center;
            font: 15px/1em inherit;
            margin-top: 0 !important;
            top: 0 !important;
            height: 100%;
            z-index: 1;
            margin-bottom: 50.5%;
        }
        
        .event-body{
          position: relative;
          height: 78%;
          color: #545A5C;
          /*overflow-y: auto !important;*/
          padding-top: 5%;
        
        }
        .event-body::-webkit-scrollbar {
          width: 10px;
        }
        .event-body::-webkit-scrollbar-track {
          border-radius: 10px;
          background: #e0e0e0; 
        
        }
        .event-body::-webkit-scrollbar-thumb {
          background: #888; 
          border-radius: 10px;
        }
        .event-body::-webkit-scrollbar-thumb:hover {
          background: #555; }
        .card-footer {
            padding: 0 !important;
            background-color: #FFF;
        }
        .input-error{
          border: 1px solid red;
          background-color: lightcoral;
        }
        .input-error-message{
          position:relative;
          top: -7px !important;
        }
        .input-error-box {
          display: none;
          position: absolute;
          max-width: 168px;
          height: auto;
          border: 1px solid grey;
        }
        .input-error-box::before {
          content: "";
          width: 0;
          height: 0;
          margin: 0 auto;
          background: transparent;
          border-top: 10px solid transparent;
          border-left: 10px solid transparent;
          border-bottom: 10px solid black;
          border-right: 10px solid transparent;
          position: relative;
          bottom: 26px;
        }
        /*.triangle {
          -webkit-text-stroke: 12px black;
          color: transparent;
          font-size: 200px;
          border-bottom: transparent;
        }*/
        #id_description {
          margin: 0px;
           width: 541px;
            height: 113px;
        }
        #event_form input[type=text], input[type=email], select{
          width: 275%;
          padding: 12px 10px;
          margin: 5px;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 2px;
          box-sizing: border-box;
          height: 6%;
        
        }
            .btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show>.btn-outline-secondary.dropdown-toggle {
            color: #fff;
            background-color: #6c757d;
            border-color: #6c757d;
        }
            .changer h6 {
            display: block;
            font-size: 0.67em;
            margin-block-start: 2.33em;
            margin-block-end: 2.33em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
        }
        
        #event_form .form-style {
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
        }
        
        .card-single-one li {
            text-align: -webkit-match-parent;
            display: list-item;
        }
        
        .card-footer:last-child {
            border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
        }
        .btn:not(:disabled):not(.disabled) {
            cursor: pointer;
        }
        #event_form [type=reset], [type=submit], button, html [type=button] {
            -webkit-appearance: button;
        }
        .btn-outline-secondary {
            color: #6c757d;
            background-color: transparent;
            background-image: none;
            border-color: #6c757d;
        }
        .event-circle{
          position: sticky;
          width: 20px;
          height: 20px;
          top: 100px;
          border-radius: 50%;
          background: #D7D7D7;
        }
        .confirmation-chat-modal .btn-outline-secondary {
          color: #6c757d;
          background-color: transparent;
          background-image: none;
          border-color: #6c757d;
      }       
        #event_form .btn {
            display: inline-block;
            font-weight: 400;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            border: 1px solid transparent;
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: .25rem;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
        #event_form button, select {
            text-transform: none;
        }
        #event_form button, input {
            overflow: visible;
        }
        #event_form .form-row>.col, .form-row>[class*=col-] {
            padding-right: 5px;
            padding-left: 5px;
        }
        
        #event_form .form-group {
            margin-bottom: 3rem;
        }
        @media (min-width: 768px)
          {
        .col-md-4 {
            -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
        }
            }
        #event_form .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
            position: relative;
            width: 100%;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
        }
        @media (min-width: 768px)
          {
        .col-md-1 {
            -ms-flex: 0 0 8.333333%;
            flex: 0 0 8.333333%;
            max-width: 8.333333%;
        }
            }
        #event_form .form-row {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-right: -5px;
            margin-left: -5px;
        }
        
        
        .event-list {
          border: none;
          -webkit-box-shadow: none;
          box-shadow: none;
          padding: 2px 5px;
          cursor: pointer;
          width:auto;
          max-width: 80%;
          text-align: left;
          position: relative;
          left: 35px;
          font-family: Effra;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 17px;
          letter-spacing: 0.01em;
          color: #000;
        }
        .event-in-list {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .event-line{
          display: flex;
          position: relative;
          height: 29px;
          top: -4px;
          left: 8.5px;
          border-left: 3px solid #D7D7D7;
          padding-bottom: 29px;
          display: none;
        }
        .active-circle{
          background: #68D0D1;
        }
        .expired-circle{
          background: #D2F1F1;
        }
        .active-line{
          border-color: #68D0D1;
        }
        .expired-line{
          border-color: #D2F1F1;
        }