.tagify {
  min-width: 400px;
  max-width: 600px;
  min-height: 36px;
  margin: 0 0 1em 0;
}

label {
  cursor: pointer;
}

.disabled tags {
  max-width: none;
  min-width: 0;
  border: 0;
  display: none;
}

.disabled tags tag,
.disabled tags div {
  display: none !important;
}

.showOriginal tags + input,
.showOriginal tags + textarea {
  position: initial !important;
  left: 0 !important;
  transform: none !important;
  width: 100%;
  padding: 6px;
  border: 2px solid #999;
  margin-bottom: 1em;
  border-radius: 5px;
  background: #f1f1f1;
}

.tagify__input .borderd-blue > div::before {
  border: 2px solid #8daffa;
}

@keyframes settingsIconFrames {
  30% {
    transform: scale(1.2);
  }
}

@keyframes settingsIconShockwavesFrames {
  0% {
    transform: scale(0.6);
    box-shadow: 0 0 10px 2px red;
  }
  90% {
    transform: scale(10);
    box-shadow: 0 0 40px 2px yellow;
  }
  100% {
    transform: scale(12);
    opacity: 0;
  }
}

#toggle__tagifyStyleSettings:checked + .tagifyStyleSettings {
  transform: none;
}

.tagifyStyleSettings > label[for="toggle__tagifyStyleSettings"] {
  float: right;
}

.tagifyStyleSettings {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  background: black;
  padding: 1em;
  color: white;
  border-bottom-left-radius: 6px;
  transform: translatex(100.5%);
  transition: 0.45s cubic-bezier(0.65, 0, 0.35, 1);
}

.tagifyStyleSettings > div {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.tagifyStyleSettings > div > span {
  flex: 1;
  margin-right: 1em;
}

.tagify__dropdown.users-list .tagify__dropdown__item {
  padding: 0.5em 0.7em;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0 1em;
  grid-template-areas:
    "avatar name"
    "avatar email";
}

.tagify__dropdown.users-list
  .tagify__dropdown__item:hover
  .tagify__dropdown__item__avatar-wrap {
  transform: scale(1.2);
}

.tagify__dropdown.users-list .tagify__dropdown__item__avatar-wrap {
  grid-area: avatar;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
  background: #eee;
  transition: 0.1s ease-out;
}

.tagify__dropdown.users-list img {
  width: 100%;
  vertical-align: top;
}

.tagify__dropdown.users-list strong {
  grid-area: name;
  width: 100%;
  align-self: center;
}

.tagify__dropdown.users-list span {
  grid-area: email;
  width: 100%;
  font-size: 0.9em;
  opacity: 0.6;
}

.tagify__dropdown.users-list .addAll {
  border-bottom: 1px solid #ddd;
  gap: 0;
}

/* Tags items */
#users-list .tagify__tag {
  white-space: nowrap;
}

#users-list .tagify__tag:hover .tagify__tag__avatar-wrap {
  transform: scale(1.6) translateX(-10%);
}

#users-list .tagify__tag .tagify__tag__avatar-wrap {
  width: 16px;
  height: 16px;
  white-space: normal;
  border-radius: 50%;
  background: silver;
  margin-right: 5px;
  transition: 0.12s ease-out;
}

#users-list .tagify__tag img {
  width: 100%;
  vertical-align: top;
}
