.drop-zone{
    position: absolute;
    width: 900px;
    height: 240px;
    left: 408px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    border: 1px dashed #6b6b6b;

    font-family: Helvetica;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #676767;

    cursor: pointer;
   
    transition: all .5s ease-out;
}

.drop-zone-dropped{
    position: absolute;
    width: 200px;
    height: 265px;
    left: 120px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    border: 1px dashed #6b6b6b;

    font-family: Helvetica;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #676767;

    cursor: pointer;
}

.drop-zone--over{
    border-style: solid;
}

.drop-zone__thumb{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #FCFCFC;
    background-size: cover;
    position: relative;
}

.drop-zone__thumb::after{
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: white;
    background: rgba(0, 0, 0, .75);
    font-size: 14px;
    text-align: center;
}

input[type=file]{
    display: none;
}

[for^=id_file]{
    display: none;
}

input[type=text][id^=id_file][id$=-document_name]{
    position: absolute;
    left: 1000px;
    bottom: 230px;
    display: none;
    width: 420px;
    height: 24px;
    z-index: 1060;

    background: #F5F5F5;

    border-width: 0px;
    border-style: none;
    border-color: none;
    border-image: none;
}

        [id^=id_file][id$=-description] {
            position: absolute;
            bottom: 130px;
            left: 1000px;
            display: none;
            width: 260px;
            height: 70px;
            z-index: 1060;

            background: #F5F5F5;

            border-width: 0px;
            border-style: none;
            border-color: none;
            border-image: none;

            resize: none;
        }

        #file-list {
            position: absolute;
            top: 0px;
            width: 700px;
            height: 340px;
            left: 240px;
            overflow-y: auto;
            cursor: default;
            display: none;
        }

        .file-listing {
            width: 700px;
            height: 95px;
        }

        .ext_pic {
            position: relative;
            top: 10px;
            left: 40px;
            height: 35px;
            width: 28px;
            background-image: url('/static/app/images/files icon4.png');
        }

        .ext_ppt {
            position: relative;
            top: 10px;
            left: 40px;
            height: 35px;
            width: 28px;
            background-image: url('/static/app/images/files icon5.png');
        }

        .ext_mp {
            position: relative;
            top: 10px;
            left: 40px;
            height: 35px;
            width: 28px;
            background-image: url('/static/app/images/files icon6.png');
        }

        .ext_doc {
            position: relative;
            top: 10px;
            left: 40px;
            height: 35px;
            width: 28px;
            background-image: url('/static/app/images/files icon2.png');
        }

        .ext_xl {
            position: relative;
            top: 10px;
            left: 40px;
            height: 35px;
            width: 28px;
            background-image: url('/static/app/images/files icon3.png');
        }

        .ext_pdf {
            position: relative;
            top: 10px;
            left: 40px;
            height: 35px;
            width: 28px;
            background-image: url('/static/app/images/files icon.png');
        }

        .ext_none {
            background: black;
        }

        .file-text {
            position: relative;
            left: 145px;
            bottom: 10px;
            width: 400px;
            height: 20px;
            color: #7D7D7D;

            font-family: Helvetica;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 15px;
            display: flex;
            align-items: center;

            text-align: left;
        }

        .file-remove {
            background: #D7D7D7;
            position: relative;
            top: 37px;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            align-content: center;
            text-align: center;
            cursor: pointer;
        }

        .file-remove-x {
            position: absolute;
            width: 11px;
            height: 11px;
            border-radius: 50%;
            background: #5F5F5F;
            transform: translate(50%, 50%);
        }
        #file-more {
            position: absolute;
            width: 540px;
            height: 300px;
            left: 960px;
            background: #E8E8E8;
            border-radius: 3px;
            display: block;
        }

        [class^=file-more] {
            position: absolute;
            width: 540px;
            height: 300px;
            left: 960px;
            background: #E8E8E8;
            border-radius: 3px;
            display: none;
        }

        .progress {
            position: relative;
            left: 145px;
            bottom: 20px;
            width: 400px;
            height: 7px;

            overflow: hidden;
            background-color: #f5f5f5;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        }

        .progress-bar {
            float: left;
            width: 0;
            height: 7px;
            font-size: 5px;
            color: #ffffff;
            text-align: center;
            background-color: #428bca;
            -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
            box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
            -webkit-transition: width 0.6s ease;
            transition: width 0.6s ease;
        }

        .progress-bar-success {
            height: 7px;
            background-color: #5cb85c;
        }

        .file-divide {
            position: relative;
            bottom: 17px;
            width: 700px;
            height: 0px;

            border: 1px solid #DEDEDE;
        }

        .file-edit-details {
            position: relative;
            width: 100px;
            height: 25px;
            left: 270px;
            bottom: 25px;

            background: #FFFFFF;
            border: 1px solid #015D67;
            box-sizing: border-box;
            border-radius: 10px;

            font-family: Helvetica;
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 15px;
            margin: auto;
            display: flex;
            align-items: center;

            color: #015D67;

            cursor: pointer;
        }

        #folderSelect {
            display: none;
        }

        [id^=file-folderSelect] {
            display: none;

            position: absolute;
            top: 60px;
            width: 140px;
            height: 23px;
            left: 1280px;

            background: #FCFCFC;
            border: 1px solid #C4C4C4;
            border-radius: 3px;
        }

        [id^=file-collaborators] {
            position: absolute;
            top: 150px;
            left: 980px;
            width: 150px;
            height: 17px;

            font-family: Helvetica;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 14px;
            display: flex;
            align-items: center;

            color: #5F5F5F;
            display: none;
        }

        [id^=file-add] {
            position: absolute;
            top: 150px;
            left: 1120px;
            width: 20px;
            height: 20px;

            filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));

            background: #EBEBEB;
            border-radius: 5px;

            font-family: Helvetica;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;

            display: flex;
            align-items: center;
            text-align: center;

            color: #5B5B5B;
            display: none;
        }

        [id^=file-tags] {
            position: absolute;
            top: 190px;
            left: 955px;
            width: 150px;
            height: 17px;

            font-family: Helvetica;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 14px;
            display: flex;
            align-items: center;

            color: #5F5F5F;
            display: none;
        }

        [id^=file-add2] {
            position: absolute;
            top: 190px;
            left: 1080px;
            width: 20px;
            height: 20px;

            filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));

            background: #EBEBEB;
            border-radius: 5px;

            font-family: Helvetica;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;

            display: flex;
            align-items: center;
            text-align: center;

            color: #5B5B5B;
            display: none;
        }


        [id$=-this_id] {
            display: none;
        }

        [id$=-folder] {
            display: none;
        }

        [id$=-file_collaborators] {
            display: none;
        }

        [id^=id_file][id$=-tags] {
            display: none;
        }

        .docDirPath {
            position: absolute;
            top: 200px;
            width: 150px;
            height: 20px;
            font-family: Helvetica;
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 17px;
            color: #979797;
            text-align: left;
        }

        .subdocPath {
            position: absolute;
            top: 200px;
            width: 1000px;
            left: 150px;
            height: 20px;
            font-family: Helvetica;
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 17px;
            color: #979797;
            text-align: left;
            overflow-x: auto;
        }

        .subdocPath-title{
            display: inline;
            width: 200px;
            font-family: Helvetica;
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 17px;
            color: #979797;
            text-align: left;
            cursor: pointer;
        }

        .folderBox {
            position: absolute;
            width: 1200px;
            height: 220px;
            top: 240px;
            display: flex;
            flex-flow: row wrap;
            justify-content: left;
            list-style: none;
            overflow-y: auto;
        }

        .myFolder1 {
            position: relative;
            width: 350px;
            height: 60px;
            margin-right: 50px;
            margin-bottom: 50px;
            background: #FFFFFF;
            border-radius: 6px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

            padding-left: 20px;
            font-family: Helvetica;
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            line-height: 20px;

            display: flex;
            align-items: center;
            text-align: center;
            color: #013D44;

            cursor: pointer;
        }

        .myFolder2 {
            position: relative;
            width: 350px;
            height: 60px;
            margin-right: 50px;
            margin-bottom: 50px;
            background: #FFFFFF;
            border-radius: 6px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

            padding-left: 20px;
            font-family: Helvetica;
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            line-height: 20px;

            display: flex;
            align-items: center;
            text-align: center;
            color: #013D44;

            cursor: pointer;
        }

        .myFolder3 {
            position: relative;
            width: 350px;
            height: 60px;
            margin-bottom: 50px;
            background: #FFFFFF;
            border-radius: 6px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

            padding-left: 20px;
            font-family: Helvetica;
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            line-height: 20px;

            display: flex;
            align-items: center;
            text-align: center;
            color: #013D44;

            cursor: pointer;
        }

        .folderName {
            padding-left: 20px;
            font-family: Helvetica;
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            line-height: 20px;

            display: flex;
            align-items: center;
            text-align: center;
            color: #013D44;
        }

        .folderDots {
            position: absolute;
            left: 310px;
        }

        .addFolder {
            position: relative;
            top: 180px;
            left: 1330px;
            height: 35px;
            width: 110px;
            background: #015D67;
            cursor: pointer;
            border: none;
        }

        .viewFilesTitle {
            position: absolute;
            width: 170px;
            height: 30px;
            top: 500px;

            font-family: Helvetica;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 20px;

            display: flex;
            align-items: center;

            color: #013D44;
        }

        .documentCard1 {
        width: 520px;
        height: 200px;
        margin-bottom: 60px;
        background: #FFFFFF;
        border-radius: 6px;
        box-shadow: 3px 3px 3px -3px #999, 3px 3px 3px -3px #999, -3px 3px 3px -3px #999;
    }

    .documentCard2 {
        width: 520px;
        height: 200px;
        margin-left: 60px;
        margin-bottom: 60px;
        background: #FFFFFF;
        border-radius: 6px;
        box-shadow: 3px 3px 3px -3px #999, 3px 3px 3px -3px #999, -3px 3px 3px -3px #999;
    }

    .documentCard3 {
        width: 520px;
        height: 200px;
        margin-left: 60px;
        margin-bottom: 60px;
        background: #FFFFFF;
        border-radius: 6px;
        box-shadow: 3px 3px 3px -3px #999, 3px 3px 3px -3px #999, -3px 3px 3px -3px #999;
    }

    .documentCircle {
        position: relative;
        top: 30px;
        left: 30px;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background: #FFFFFF;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25), 0px 0px 4px rgba(0, 0, 0, 0.25);
    }

    .documenth2 {
        position: relative;
        left: 120px;
        bottom: 10px;
        font-family: Helvetica;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 20px;
        color: #015D67;
        width: 300px;
        height: 20px;
    }

    .documentp {
        position: relative;
        top: 20px;
        left: 30px;
        width: 500px;
        height: 17px;

        font-family: Helvetica;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.01cm;

        color: #707070;
    }

    .downloadbtn {
        position: relative;
        top: 50px;
        left: 30px;
        width: 100px;
        height: 35px;

        background: #015D67;
        border-radius: 6px;
        border: 0px;

        font-family: Helvetica;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        align-items: center;
        text-align: center;
        letter-spacing: 0.01cm;

        color: #FFFFFF;

        cursor: pointer;
    }

        .doclistLayout {
        position: absolute;
        top: 580px;
        width: 1680px;
        min-height: 900px;
    }

        .doclist1 {
        position: relative;
        width: 1600px;
        height: 65px;
        background: rgba(196, 226, 238, 0.32);
        border: 1px solid #ECF5F9;
        box-sizing: border-box;
        margin-top: 10px;
    }

    .doclist2 {
        position: relative;
        margin-top: 10px;
        width: 1600px;
        height: 65px;
        background: rgba(238, 229, 196, 0.32);
        border: 1px solid #ECF5F9;
        box-sizing: border-box;
    }

        .doclistExt-pdf {
            position: relative;
            left: 50px;
            top: 15px;
            height: 35px;
            width: 28px;

            background-image: url('/static/app/images/files icon.png');

            font-family: Helvetica;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 24px;
        }

        .doclistExt-doc {
            position: relative;
            left: 50px;
            top: 15px;
            height: 35px;
            width: 28px;

            background-image: url('/static/app/images/files icon2.png');

            font-family: Helvetica;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 24px;
        }

        .doclistExt-xl {
            position: relative;
            left: 50px;
            top: 15px;
            height: 35px;
            width: 28px;

            background-image: url('/static/app/images/files icon3.png');

            font-family: Helvetica;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 24px;
        }

    .doclistName {
        position: relative;
        left: 350px;
        bottom: 12px;
        width: 500px;
        height: 30px;

        font-family: Helvetica;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.01em;

        color: #676767;

        cursor: pointer;
    }

    .doclistDescript {
        position: relative;
        left: 900px;
        bottom: 42px;
        width: 500px;
        height: 30px;

        font-family: Helvetica;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.01em;

        color: #676767;
    }

    .doclistDots {
            position: absolute;
            bottom: 15px;
            left: 1530px;
            cursor: pointer;
        }

    .doclistCategory {
        position: absolute;
        top: 520px;
        left: 30px;
        width: 100px;

        font-family: Helvetica;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.01cm;

        color: #676767;
    }

    .doclistDsc {
        position: absolute;
        top: 520px;
        left: 900px;
        width: 200px;

        font-family: Helvetica;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.01cm;


        color: #676767;
    }

    .doclistOrder {
        position: absolute;
        top: 590px;
        left: 450px;

        width: 90px;
        height: 30px;

        background: #DEDEDE;
        border-radius: 3px;
    }

    .doclistA {
        position: absolute;
        left: 14px;
        top: 8px;
        width: 18px;
        height: 18px;
    }

    .doclistZ {
        position: absolute;
        left: 64px;
        top: 8px;
        width: 18px;
        height: 18px;
    }

    #docArrow {
        position: absolute;
        left: 36px;
        top: 8px;
        width: 18px;
        height: 18px;
    }

        .doclistTags {
            position: absolute;
            top: 520px;
            left: 1300px;

            font-family: Helvetica;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.01cm;

            color: #676767;
        }


        .doclistTitle {
            position: absolute;
            top: 520px;
            left: 350px;

            font-family: Helvetica;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.01cm;

            color: #676767;
        }

        .pdf-title {
            position: absolute;
            left: 8px;
            top: 7px;
            width: 35px;
            height: 17px;

            background: #FFFFFF;
            border: 1px solid #DA1E1E;
            box-sizing: border-box;
            border-radius: 4px;

            font-family: Helvetica;
            font-style: normal;
            font-weight: 500;
            font-size: 10px;
            line-height: 12px;
            display: flex;
            align-items: center;
            letter-spacing: 0.01em;

            color: #676767;
        }

        .word-title {
            position: absolute;
            left: 8px;
            top: 7px;
            width: 35px;
            height: 17px;

            background: #FFFFFF;
            border: 1px solid #015D67;
            box-sizing: border-box;
            border-radius: 4px;

            font-family: Helvetica;
            font-style: normal;
            font-weight: 500;
            font-size: 10px;
            line-height: 12px;
            display: flex;
            align-items: center;
            letter-spacing: 0.01em;

            color: #676767;
        }

        .xl-title {
            position: absolute;
            left: 8px;
            top: 7px;
            width: 35px;
            height: 17px;

            background: #FFFFFF;
            border: 1px solid #1CA04F;
            box-sizing: border-box;
            border-radius: 4px;

            font-family: Helvetica;
            font-style: normal;
            font-weight: 500;
            font-size: 10px;
            line-height: 12px;
            display: flex;
            align-items: center;
            letter-spacing: 0.01em;

            color: #676767;
        }

        .png-jpg-title {
            position: absolute;
            left: 8px;
            top: 7px;
            width: 35px;
            height: 17px;

            background: #FFFFFF;
            border: 1px solid #36ABFF;
            box-sizing: border-box;
            border-radius: 4px;

            font-family: Helvetica;
            font-style: normal;
            font-weight: 500;
            font-size: 10px;
            line-height: 12px;
            display: flex;
            align-items: center;
            letter-spacing: 0.01em;

            color: #676767;
        }

        .ppt-title{
            position: absolute;
            left: 8px;
            top: 7px;
            width: 35px;
            height: 17px;

            background: #FFFFFF;
            border: 1px solid #FF8F00;
            box-sizing: border-box;
            border-radius: 4px;

            font-family: Helvetica;
            font-style: normal;
            font-weight: 500;
            font-size: 10px;
            line-height: 12px;
            display: flex;
            align-items: center;
            letter-spacing: 0.01em;

            color: #676767;
        }

        .mp-title{
            position: absolute;
            left: 8px;
            top: 7px;
            width: 35px;
            height: 17px;

            background: #FFFFFF;
            border: 1px solid #FF6ED4;
            box-sizing: border-box;
            border-radius: 4px;

            font-family: Helvetica;
            font-style: normal;
            font-weight: 500;
            font-size: 10px;
            line-height: 12px;
            display: flex;
            align-items: center;
            letter-spacing: 0.01em;

            color: #676767;
        }

        .popover{
            position:absolute;
            top:0;
            left:0;
            z-index:1200;
            display:block;
            width:180px;
            min-height: 100px;
            max-height:300px;
            padding:1px;
            text-align:left;
            white-space:normal;
            background-color:#fff;
            border:1px solid #ccc;
            border:1px solid rgba(0,0,0,0.2);
            border-radius:6px;
            -webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2);
            box-shadow:0 5px 10px rgba(0,0,0,0.2);
            background-clip:padding-box;
        }
        .popover.top{
            margin-top:-10px;
        }
        .popover.right{
            margin-left:10px;
        }
        .popover.bottom{
            margin-top:10px;
        }
        .popover.left{
            margin-left:-10px;
        }
        .popover-title{
            padding:8px 14px;
            margin:0;
            font-size:14px;
            font-weight:normal;
            line-height:18px;
            background-color:#f7f7f7;
            border-bottom:1px solid #ebebeb;
            border-radius:5px 5px 0 0;
        }
        .popover-content{
            padding:9px 14px;
        }
        .popover .arrow,.popover .arrow:after{
            position:absolute;
            display:block;
            width:0;
            height:0;
            border-color:transparent;
            border-style:solid;
        }
        .popover .arrow{
            border-width:11px;
        }
        .popover .arrow:after{
            border-width:10px;
            content:"";
        }
        .popover.top .arrow{
            bottom:-11px;
            left:50%;
            margin-left:-11px;
            border-top-color:#999;
            border-top-color:rgba(0,0,0,0.25);
            border-bottom-width:0;
        }
        .popover.top .arrow:after{
            bottom:1px;
            margin-left:-10px;
            border-top-color:#fff;
            border-bottom-width:0;
            content:" ";
        }
        .popover.right .arrow{
            top:50%;
            left:-11px;
            margin-top:-11px;
            border-right-color:#999;
            border-right-color:rgba(0,0,0,0.25);
            border-left-width:0;
        }
        .popover.right .arrow:after{
            bottom:-10px;
            left:1px;
            border-right-color:#fff;
            border-left-width:0;
            content:" ";
        }
        .popover.bottom .arrow{
            top:-11px;
            left:50%;
            margin-left:-11px;
            border-bottom-color:#999;
            border-bottom-color:rgba(0,0,0,0.25);
            border-top-width:0;
        }
        .popover.bottom .arrow:after{
            top:1px;
            margin-left:-10px;
            border-bottom-color:#fff;
            border-top-width:0;
            content:" ";
        }
        .popover.left .arrow{
            top:50%;
            right:-11px;
            margin-top:-11px;
            border-left-color:#999;
            border-left-color:rgba(0,0,0,0.25);
            border-right-width:0;
        }
        .popover.left .arrow:after{
            right:1px;
            bottom:-10px;
            border-left-color:#fff;
            border-right-width:0;
            content:" ";
        }

        .popover-body p{
            position: relative;
            bottom: 13px;
            padding-left: 32px;
            padding-bottom: 12px;

            font-family: Helvetica;
            font-style: normal;
            font-weight: 600;
            font-size: 13px;
            line-height: 13px;
            letter-spacing: 0.01em;

            color: #676767;
        }

        .popover-body p:hover{
            cursor: pointer;
            text-decoration: underline;
        }

        .popover-body p.testp2{
            color: red;
        }

        .popover-body p.delete-folder{
            color: red;
        }

        .popover-body i{
            padding-left: 12px;
            padding-bottom: 12px;

            font-family: Helvetica;
            font-style: normal;
            font-weight: 600;
            font-size: 13px;
            line-height: 13px;
            letter-spacing: 0.01em;

            color: #676767;
        }

        .popoverx{
            position: absolute;
            top: 15px !important;
            left: 135px !important;
        }

        .popoverx:hover{
            cursor: pointer;
        }

        [name=delete-file-true]{
            display: none;
            visibility: hidden;
        }

        [for=delete-file-true]{
            display: none;
            visibility: hidden;
        }

        [name=delete-folder-true]{
            display: none;
            visibility: hidden;
        }

        [for=delete-folder-true]{
            display: none;
            visibility: hidden;
        }
        
        .delete-this-true{
            background: red;
            position: relative;
            top: 25%;
            left: 10%;
            width: 40%;
            height: 50%;
            color: white;

            font-family: Helvetica;
            font-style: normal;
            font-weight: 600;
            line-height: 13px;
            letter-spacing: 0.01em;

            display: inline-block;
            padding: 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: normal;
            line-height: 1.428571429;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            cursor: pointer;
            border: 1px solid transparent;
            border-radius: 4px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
        }

        .delete-this-folder-true{
            background: red;
            position: relative;
            top: 25%;
            left: 10%;
            width: 40%;
            height: 50%;
            color: white;

            font-family: Helvetica;
            font-style: normal;
            font-weight: 600;
            line-height: 13px;
            letter-spacing: 0.01em;

            display: inline-block;
            padding: 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: normal;
            line-height: 1.428571429;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            cursor: pointer;
            border: 1px solid transparent;
            border-radius: 4px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
        }

        .delete-this-false{
            font-family: Helvetica;
            font-style: normal;
            font-weight: 600;
            line-height: 13px;
            letter-spacing: 0.01em;
            
            background: grey;
            position: relative;
            top: 25%;
            left: 10%;
            width: 40%;
            height: 50%;
            color: white;

            display: inline-block;
            padding: 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: normal;
            line-height: 1.428571429;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            cursor: pointer;
            border: 1px solid transparent;
            border-radius: 4px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
        }

        [id^=copy-folder]{
            width: 25px;
            height: 25px;
        }

        [for^=copy-folder]{
            position: relative;
            font-family: Helvetica;
            font-style: normal;
            font-weight: 600;
            line-height: 13px;
            letter-spacing: 0.01em;
            bottom: 5px;
        }

        [id^=copy-subfolder]{
            position: relative;
            left: 25px;
            width: 25px;
            height: 25px;
        }

        [for^=copy-subfolder]{
            position: relative;
            left: 25px;

            font-family: Helvetica;
            font-style: normal;
            font-weight: 600;
            line-height: 13px;
            letter-spacing: 0.01em;
            bottom: 5px;
        }

        [id^=copy-sub2folder]{
            position: relative;
            left: 50px;
            width: 25px;
            height: 25px;
        }

        [for^=copy-sub2folder]{
            position: relative;
            left: 50px;

            font-family: Helvetica;
            font-style: normal;
            font-weight: 600;
            line-height: 13px;
            letter-spacing: 0.01em;
            bottom: 5px;
        }

        [id^=move-folder]{
            width: 25px;
            height: 25px;
        }

        [for^=move-folder]{
            position: relative;
            font-family: Helvetica;
            font-style: normal;
            font-weight: 600;
            line-height: 13px;
            letter-spacing: 0.01em;
            bottom: 5px;
        }

        [id^=move-subfolder]{
            position: relative;
            left: 25px;
            width: 25px;
            height: 25px;
        }

        [for^=move-subfolder]{
            position: relative;
            left: 25px;

            font-family: Helvetica;
            font-style: normal;
            font-weight: 600;
            line-height: 13px;
            letter-spacing: 0.01em;
            bottom: 5px;
        }

        [id^=move-sub2folder]{
            position: relative;
            left: 50px;
            width: 25px;
            height: 25px;
        }

        [for^=move-sub2folder]{
            position: relative;
            left: 50px;

            font-family: Helvetica;
            font-style: normal;
            font-weight: 600;
            line-height: 13px;
            letter-spacing: 0.01em;
            bottom: 5px;
        }

        #sharecollaboratorsChoice {
            display: block;
            position: absolute;
            width: 556px;
            min-height: 350px;
            max-height: 350px;
            background: #F6F6F6;
            overflow-y: auto;
            font-family: Helvetica;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 15px;
            align-items: center;
            color: #676767;
        }

        #sharecollaboratorsChoice li.share-collab--remove{
            display: none;
        }

        .share-collab__A {
            color: black;
            width: 100%;
            height: 50px;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            background: lightgrey;
        }

            .share-collab__A:hover {
                color: black;
                width: 100%;
                height: 50px;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                background: grey;
                cursor: pointer;
            }

        .share-collab__B {
            color: white;
            width: 100%;
            height: 50px;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            background: #015D67;
            cursor: pointer;
        }

            .share-collab__B:hover {
                color: white;
                width: 100%;
                height: 50px;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                background: darkcyan;
                cursor: pointer;
            }

            .doclistExt-pdf {
                position: relative;
                left: 50px;
                top: 15px;
                height: 35px;
                width: 28px;
    
                background-image: url('/static/app/images/files icon.png');
    
                font-family: Helvetica;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 24px;
            }
    
            .doclistExt-doc {
                position: relative;
                left: 50px;
                top: 15px;
                height: 35px;
                width: 28px;
    
                background-image: url('/static/app/images/files icon2.png');
    
                font-family: Helvetica;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 24px;
            }
    
            .doclistExt-xl {
                position: relative;
                left: 50px;
                top: 15px;
                height: 35px;
                width: 28px;
    
                background-image: url('/static/app/images/files icon3.png');
    
                font-family: Helvetica;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 24px;
            }
    
            .doclistExt-mp {
                position: relative;
                left: 50px;
                top: 15px;
                height: 35px;
                width: 28px;
    
                background-image: url('/static/app/images/files icon6.png');
    
                font-family: Helvetica;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 24px;
            }
    
            .doclistExt-ppt {
                position: relative;
                left: 50px;
                top: 15px;
                height: 35px;
                width: 28px;
    
                background-image: url('/static/app/images/files icon5.png');
    
                font-family: Helvetica;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 24px;
            }
    
            .doclistExt-img {
                position: relative;
                left: 50px;
                top: 15px;
                height: 35px;
                width: 28px;
    
                background-image: url('/static/app/images/files icon4.png');
    
                font-family: Helvetica;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 24px;
            }

            .documentLayout {
                position: absolute;
                display: flex;
                flex-flow: row wrap;
                justify-content: left;
                list-style: none;
                top: 520px;
                width: 1680px;
                min-height: 330px;
            }
        
            .document-card{
                width: 390px;
                height: 300px;
                margin-right: 30px;
                margin-bottom: 30px;
                background: #EBF2F2;
                border-radius: 6px;
            }
        
            .document-card-doc{
                position: relative;
                bottom: 160px;
                margin-left: 100px;
                width: 190px;
                height: 160px;
                background: #FFFFFF;
                border: 1px solid #979797;
                box-sizing: border-box;
                border-bottom: none;
            }
        
            .document-card-doc-circle{
                position: relative;
                top: 15px;
                left: 15px;
                width: 30px;
                height: 30px;
        
                background: #C4C4C4;
                border-radius: 50%;
            }
        
            .document-card-doc-line1{
                position: relative;
                top: 12px;
                left: 50px;
                width: 120px;
                height: 2px;
        
                background: #676767;
            }
        
            .document-card-doc-line2{
                position: relative;
                top: 20px;
                left: 15px;
                width: 155px;
                height: 2px;
        
                background: #676767;
            }
        
            .document-card-doc-line3{
                position: relative;
                top: 28px;
                left: 15px;
                width: 155px;
                height: 2px;
        
                background: #676767;
            }
        
            .document-card-doc-line4{
                position: relative;
                top: 36px;
                left: 15px;
                width: 155px;
                height: 2px;
        
                background: #676767;
            }
        
            .document-card-doc-line5{
                position: relative;
                top: 44px;
                left: 15px;
                width: 155px;
                height: 2px;
        
                background: #676767;
            }
        
            .document-card-doc-line6{
                position: relative;
                top: 52px;
                left: 15px;
                width: 155px;
                height: 2px;
        
                background: #676767;
            }
        
            .document-card-doc-block{
                position: relative;
                top: 60px;
                left: 15px;
                width: 155px;
                height: 15px;
        
                background: #C4C4C4;
            }
        
            .document-card-doc-line7{
                position: relative;
                top: 76px;
                left: 15px;
                width: 155px;
                height: 2px;
        
                background: #676767;
            }
        
            .document-card-doc-line8{
                position: relative;
                top: 84px;
                left: 15px;
                width: 155px;
                height: 2px;
        
                background: #676767;
            }
        
            .document-card-doc-line9{
                position: relative;
                top: 92px;
                left: 15px;
                width: 155px;
                height: 2px;
        
                background: #676767;
            }
        
            .document-card-footing{
                background: #FFFFFF;
                border-radius: 6px;
                position: relative;
                width: 390px;
                height: 70px;
                top: 230px;
                vertical-align: middle;
            }
        
            .document-card-doc-name{
                position: relative;
                margin-left: 100px;
                width: 250px;
                height: 15px;
                bottom: 170px;
        
                font-family: Helvetica;
                font-style: normal;
                font-weight: 600;
                font-size: 15px;
                line-height: 15px;
                letter-spacing: 0.01em;
        
                color: #676767;
            }
        
            .document-card-doc-dots{
                position: relative;
                bottom: 190px;
                margin-left: 350px;
                height: 50px;
                width: 10px;
                cursor: pointer;
            }
        
            .file-ext_doc {
                position: relative;
                bottom: 145px;
                left: 30px;
                height: 35px;
                width: 28px;
                background-image: url('/static/app/images/files icon2.png');
            }
        
            .file-ext_xl {
                position: relative;
                bottom: 145px;
                left: 30px;
                height: 35px;
                width: 28px;
                background-image: url('/static/app/images/files icon3.png');
            }
        
            .file-ext_pdf {
                position: relative;
                bottom: 145px;
                left: 30px;
                height: 35px;
                width: 28px;
                background-image: url('/static/app/images/files icon.png');
            }
        
            .file-ext_ppt {
                position: relative;
                bottom: 145px;
                left: 30px;
                height: 35px;
                width: 28px;
                background-image: url('/static/app/images/files icon5.png');
            }
        
            .file-ext_mp {
                position: relative;
                bottom: 145px;
                left: 30px;
                height: 35px;
                width: 28px;
                background-image: url('/static/app/images/files icon6.png');
            }
        
            .file-ext_img {
                position: relative;
                bottom: 145px;
                left: 30px;
                height: 35px;
                width: 28px;
                background-image: url('/static/app/images/files icon4.png');
            }

            .acceptbtn{
                background: #4CAF50;
                color: white;
                width: 50%;
                height: 100%;
                cursor: pointer;
                border-width: 0px;
            }
            
            .declinebtn{
                background: #f44336;
                color: white;
                width: 50%;
                height: 100%;
                cursor: pointer;
                border-width: 0px;
            }
            
            .rename-folder-input{
                position: relative;
                bottom: 25%;
                left: 20%;
                width: 40%;
                height: 50%;
            }

            .rename-file-input{
                position: relative;
                bottom: 25%;
                left: 20%;
                width: 40%;
                height: 50%;
            }
            
            .rename-text{
                position: relative;
                top: 25%;
                height: 50%;
                font-family: Helvetica;
            }

            .create-folder-input{
                position: relative;
                bottom: 25%;
                left: 20%;
                width: 40%;
                height: 50%;
            }