* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: effra, Helvetica;
}

p {
    font-family: helvetica;
    letter-spacing: 0.05em;
}

h1 {
    font-size: 1.5em;
    text-align: left;
    font-family: helvetica;
    letter-spacing: 0.05em;
    margin-top: 30px;
    margin-left: 40px;
    margin-bottom: 20px;
    color: #525252;
}

.container {
    display: grid;
    height: 150vh;
    margin-left: 60px;
    margin-top: 60px;
    grid-template-columns: 1fr 1.5fr 2fr;
    grid-template-rows: 0.75fr 1fr 0.4fr;
    grid-template-areas: "profile personal notes" "info info resources" "footer footer footer";
}

#profile, #personalInfo, #notes, #info, #resources {
    background: white;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#profile {
    grid-area: profile;
    margin-left: 0;
    margin-right: 10px;
    margin-bottom: 10px;
}

img.profilePic {
    width: 150px;
    height: 150px;
    display: block;
    margin: 0px auto;
    margin-top: 20px;
}

p.name {
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 0px;
    color: #525252;
}

p.email {
    text-align: center;
    font-size: 1em;
    margin-top: 0px;
    margin-bottom: 20px;
    color: #8c8c8c;
}

.tags {
    white-space: nowrap;
    text-align: center;
}

p.profileTags {
    font-size: 0.75em;
    display: inline-block;
    background-color: #f2f0e9;
    padding: 5px;
    margin: 10px;
}

.profileButton {
    text-align: center;
    margin-top: 25px;
    margin-left: 10px;
    color: #8c8c8c;
    background-color: white;
}

#personalInfo {
    grid-area: personal;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.piContainer {
    display: grid;
    height: 50vh;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "gender bday phone" "street city zip" "status rdate none";
}

#gender, #bday, #phone {
    margin-top: 20px;
    margin-left: 20px;
}

#street, #city, #zip, #status, #rdate {
    margin-left: 20px;
}

#gender {
    grid-area: gender;
}

#bday {
    grid-area: bday;
}

#phone {
    grid-area: phone;
    margin-right: 20px;
}

#street {
    grid-area: street;
}

#city {
    grid-area: city;
}

#zip {
    grid-area: zip;
    margin-right: 20px;
}

#status {
    grid-area: status;
    margin-bottom: 20px;
}

#rdate {
    grid-area: rdate;
    margin-bottom: 20px;
}

p.personalTitle {
    font-size: 1em;
    text-align: left;
    color: #8c8c8c;
}

p.info {
    font-size: 1em;
    text-align: left;
    color: #525252;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #8c8c8c;
    padding-bottom: 10px;
}

#notes {
    grid-area: notes;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
}

#notesBox {
    margin-left: 30px;
    margin-right: 30px;
    background-color: #f2f0e9;
}

p.notesBox {
    padding: 20px;
    text-align: left;
}

p.notesDescription {
    margin: 30px;
    font-size: 0.9em;
    color: #8c8c8c;
    margin-bottom: 0px;
}

.notesDetails {
    white-space: nowrap;
    color: #8c8c8c;
    font-size: 0.75em;
}

p.notesAuthor {
    display: inline-block;
    text-align: left;
    margin-left: 30px;
    margin-right: 300px;
}

p.notesDate {
    display: inline-block;
    text-align: right;
    margin-right: 30px;
}

#resources {
    grid-area: resources;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 20px;
}

p.emptyResources {
    text-align: center;
    padding: 100px 75px 75px 75px;
    color: #8c8c8c;
}

.button {
    border: none;
    color: #808080;
    padding: 10px 15px 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
}

.resourcesBox {
    border-top-style: dashed;
    border-bottom-style: dashed;
    border-left-style: dotted;
    border-right-style: dotted;
    margin: 50px 30px 30px 150px;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    border-width: 1.5px 2px 2.2px 2px;
    color: #8c8c8c;
}

#info {
    grid-area: info;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 10px;
}

#infoBox {
    margin: 30px;
}

.tablink {
    background-color: #f2f0e9;
    color: #8c8c8c;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
    height: 65px;
}

    .tablink:hover {
        background-color: white;
    }

.tabcontent {
    color: black;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

.sidebar {
    width: 60px;
    left: 0;
    top: 60px;
    height: 100%;
    background-image: linear-gradient(to bottom, #68D0D1, #015D67, #164E66);
    position: fixed;
    z-index: 10;
}

.sidebar-header {
    height: 10px;
    color: #fff;
}

    .sidebar-header #sidebar-toggle {
        display: inline-block;
        font-size: 1.7rem;
        cursor: pointer;
    }

.sidebar-menu li {
    width: 100%;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.sidebar-menu li {
    width: 100%;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.sidebar-menu a {
    display: block;
    color: #fff;
    font-size: 1.1rem;
}

    .sidebar-menu a.active {
        background: #EBF2F2;
        right: 10px;
        padding-top: .5rem;
        padding-bottom: .5rem;
        border-radius: 30px 0px 0px 30px;
        color: #68D0D1;
    }

    .sidebar-menu a span:first-child {
        font-size: 1.5rem;
    }

.dash-header {
    display: flex;
    padding: .8rem 1rem;
    background-image: linear-gradient(to right, #68D0D1, #015D67, #164E66);
    height: 60px;
    width: 100%;
    top: 0;
    z-index: 10;
    position: fixed;
    right: 0;
}

.search-wrapper {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 32px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    background-color: #fff;
    right: 25px;
}

    .search-wrapper span {
        display: inline-block;
        font-size: 1.3rem;
    }

    .search-wrapper input {
        height: 100%;
        padding: .5rem;
        border: none;
        outline: none;
    }

.user-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 5px;
    right: 10px;
    margin-left: 20px;
}

#leftside {
    display: flex;
    justify-content: flex-end;
    margin-left: 78%;
}

.user-wrapper span {
    border-radius: 50%;
    margin-right: 1rem;
    font-size: 2rem;
}

.user-wrapper h4 {
    margin-bottom: 0rem;
}

.user-wrapper small {
    display: inline-block;
    color: var(--text-grey);
}

.dropdown {
    display: inline-block;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 12rem !important;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9;
    top: 47px;
    right: 0;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

#usermenu {
    border-bottom: 1px black solid;
    padding: 12px 16px;
}

    #usermenu h3 {
        padding-bottom: 5px;
    }

.dropdown-content a:hover {
    background-color: #ddd;
}

.profile-pic {
    max-width: 32px;
    max-height: 32px;
    width: 32px;
    height: 32px;
    white-space: normal;
    margin-right: 15px;
    border-radius: 50%;
    font-size: 16px;
    color: #fff;
    text-align: center;
    line-height: 150px;
    cursor: context-menu;
    overflow: hidden;
    justify-content: center;
    display: flex;
    align-items: center;
}