{% extends 'app/format.html' %}
{% block content %}
<head>
</head>
<body>
    <div class="sidebar">


  <div class="sidebar-menu">
      <ul>
          <li>
              <a href="{% url 'dashboard' %}">
                  <span id="fist-element" class="las la-home"></span>
              </a>
          </li>
          <li>
              <a href="{% url 'resourcedirectory' %}">
                  <span class="las la-book"></span>
              </a>
          </li>
          <li>
              <a href="">
                  <span class="las la-comment-alt"></span>
              </a>
          </li>
          <li>
              <a href="{% url 'clientlist' %}" class="active">
                  <span class="las la-user-friends"></span>
              </a>
          </li>
          <li>
            <a href="">
                <span class="las la-plus-circle"></span>
            </a>
        </li>
      </ul>
  </div>
</div>
</body>
<h2>Client List</h2>
<p>Client: <br /></p>
    {% for clients in object1.clients.all %} 
        {% for accounts in object2.all %}
            {% if accounts.id == clients.id %}
                {% if accounts.id in list %}
                    {% for backgrounds in object3.all %}
                    {% if backgrounds.user_id == accounts.id %}
                        <li><a href="{% url 'clientsprofile' clients.id %}">{{ backgrounds }}'s Profile</a></li>
                        <li><a href="{% url 'clientsinformation' clients.id %}">{{ backgrounds }}'s Information</a></li>
                    {% endif %}
                {% endfor %}
                {% else %}
                    <li><a href="{% url 'clientsprofile' clients.id %}">{{ accounts }}'s Profile</a></li>
                    <li><a href="{% url 'clientsinformation' clients.id %}">{{ accounts }}'s Information</a></li>
                {% endif %}
            {% endif  %}
        {% endfor %}
    <br /> 
    {% endfor %}
<li><a href="{% url 'addclients' %}">Add Clients</a></li>
<li><a href="{% url 'removeclients' %}">Remove Clients</a></li>
<li><a href="{% url 'makeclientaccount' %}">Create An Account For A Client</a></li>
{% endblock %}