{% extends 'app/format.html' %}
{% block header1 %}
    <a href="{% url 'dashboard' %}">
        <span id="fist-element" class="las la-home"></span>
    </a>
{% endblock %}
{% block header2 %}
    <a href="{% url 'fulldirectory' %}">
        <span class="las la-book"></span>
    </a>
{% endblock %}
{% block header3 %}
    <a href="{% url 'multichat' %}">
        <span class="las la-comment-alt"></span>
    </a>
{% endblock %}
{% block header4 %}
    <a href="{% url 'clientlist' %}" class="active">
        <span class="las la-user-friends"></span>
    </a>
{% endblock %}
{% block header5 %}
    <a href="">
        <span class="las la-plus-circle"></span>
    </a>
{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'app/content/clientlist.css' %}" />
<link rel="stylesheet" href="{% static 'app/content/myModal.css' %}" />
<script src="https://kit.fontawesome.com/f0b88b09a7.js" crossorigin="anonymous"></script>
<script src="{% static 'app/scripts/clientlist.js' %}"></script>

<script>
    function filterClientFunction() {
    var input, filter, div, a, i;
    input = document.getElementById("clist-searchbar");
    filter = input.value.toUpperCase();
    a = document.getElementsByClassName("clist-client-name-grid")
    b = document.getElementsByClassName("clist-client-name-list");
    for (i = 0; i < a.length; i++) {
        txtValue = a[i].textContent || a[i].innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            $(a[i]).parent().css("display", "")
            $(b[i]).parent().css("display", "")
        }
        else {
            $(a[i]).parent().css("display", "none")
            $(b[i]).parent().css("display", "none")
        }
    }
}
</script>

{% load project_templates %}

<div class="clist-path-home show-title">Home</div><div class="clist-path-union show-title"> > </div><div class="clist-path-clist show-title" value="1">Client List</div><div class="clist-path-union2 hide-title"> > </div><div class="clist-path-cinfo hide-title">Client Info</div>

<div class="clist-search-container">
    <input type="text" placeholder="Search by Name" class="clist-searchbar" id="clist-searchbar" onkeyup="filterClientFunction()">
    <i class="fa fa-search" aria-hidden="true" id="clist-searchbar-icon"></i>
</div>

<button class="clist-add-btn" type="button" data-toggle="modal" data-target="#addNewClient">Add New Client</button>
<form method="post" enctype="multipart/form-data">
<div class="modal box6 fade" id="addNewClient" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Add New Client</h5>
          <i class="fas fa-times fa-lg" id="add-client-exit" data-dismiss="modal"></i>
        </div>
        {% csrf_token %}
        <div class="modal-body">
            {% csrf_token %}
            <div class="user-form-divider"></div>
            <div class="user-form-account-info">
                <div class="user-form-account-title">Account Information</div>
                <div class="user-form-username-title">Username</div>
                <div class="user-form-password1-title">Password</div>
                <div class="user-form-password2-title">Confirm Password</div>
                <div class="user-form-avatar-title">Avatar</div>

                {{ form1.username }}
                {{ form1.password1 }}
                {{ form1.password2 }}
                {{ form1.avatar }}
            </div>
            <div class="user-form-divider"></div>
            <div class="user-form-back-info">
                <div class="user-form-back-title">Background Information</div>
                <div class="user-form-firstname-title">First Name</div>
                <div class="user-form-lastname-title">Last Name</div>
                <div class="user-form-middlename-title">M.I.</div>
                <div class="user-form-gender-title">Gender</div>
                <div class="user-form-phone-title">Primary Phone</div>
                <div class="user-form-email-title">Primary Email</div>
                <div class="user-form-birthdate-title">Birthdate</div>

                {{ form1.first_name }}
                {{ form1.last_name }}
                {{ form1.middle_name }}
                {{ form2.gender }}
                {{ form2.phone_number }}
                {{ form1.email }}
                {{ form2.birthday }}
            </div>
            <div class="user-form-divider"></div>
            <div class="user-form-demo-info">
                <div class="user-form-demo-title">Client Demographics</div>
                <div class="user-form-street-title">Street Address</div>
                <div class="user-form-apt-title">Apt./Unit Number</div>
                <div class="user-form-county-title">County</div>
                <div class="user-form-city-title">City</div>
                <div class="user-form-state-title">State</div>
                <div class="user-form-zipcode-title">Zipcode</div>

                {{ form3.street_address }}
                {{ form3.apt_unit }}
                {{ form3.county }}
                {{ form3.city }}
                {{ form3.state }}
                {{ form3.zipcode }}

            </div>
            <div class="user-form-divider"></div>
            <div class="user-form-notes">
                <div class="user-form-notes-title">Notes</div>
                {{ form4.notes }}
            </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="user-form-save-info">Create Client</button>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="clist-listBox" id="hidden"></div>
<div class="clist-listPH" id="clist-listIcon"><i class="fa fa-bars" aria-hidden="true"></i></div>

<div class="clist-gridBox" id="visible"></div>
<div class="clist-gridPH" id="clist-gridIcon"><i class="fa fa-th" aria-hidden="true"></i></div>

<div class="clist-cname-list hidden">Client Name</div>
<div class="clist-taskpen-list hidden">Task Pending</div>
<div class="clist-lastup-list hidden">Last Updated</div>

<div class="clist-cname-grid hidden">Client Name</div>

<div class="clist-grid-layout visible">
    {% for client in myclients.clients.all %}
    <div class="clist-client-grid">
        <div class="clist-client-icon-grid" value="{{ client.id }}"></div>
        <div class="clist-client-name-grid">{{ client.first_name }} {{ client.last_name }}</div>
        <div class="clist-client-email-grid">{{ client.email }}</div>
        <div class="clist-client-phone-grid">(123)-456-7890</div>
        <div class="clist-client-dob-grid">DOB: Oct 01, 1952</div>
        <div class="clist-taskdue-grid">Task Pending: 1</div>
        <div class="clist-lastupdated-grid">Last Updated: Oct 30, 2021</div>
        <button class="clist-msg-grid" type="button">Send Message</button>
    </div>
    {% endfor %}
</div>

<div class="clist-list-layout hidden">
    {% for client in myclients.clients.all %}
    <div class="clist-client-list">
        <div class="clist-client-icon-list" value="{{ client.id }}"></div>
        <div class="clist-client-name-list">{{ client.first_name }} {{ client.last_name }}</div>
        <div class="clist-taskdue-list">1</div>
        <div class="clist-lastupdated-list">Oct 30, 2021</div>
        <button class="{% cycle 'clist-listExplore1' 'clist-listExplore2' %}" type="button">Send Message</button>
    </div>
    {% endfor %}
</div>

{% for client in myclients.clients.all %}
<div class="client-profile hidden" value="{{ client.id }}">
<div class="client-box1 hidden">
    <div class="client-box1-pfp">

    </div>
    <div class="client-box1-name">
        {{ client.first_name }} {{ client.last_name }}
    </div>
    <div class="client-box1-email">
        {{ client.email }}
    </div>
    <div class="client-box1-tag1">
        Housing Assistance
    </div>
    <div class="client-box1-tag2">
        Senior
    </div>
    <button class="client-box1-sendmsg">
        Send Message
    </button>
</div>

<div class="client-box2 hidden">
    <div class="client-box2-gender-name">
        Gender
    </div>
    <div class="client-box2-gender-box">
        {% for bg in bgs %}
            {% if bg.user == client %}
                {{ bg.gender }}
            {% endif %}
        {% endfor %}
    </div>
    <div class="client-box2-birthday-name">
        Birthday
    </div>
    <div class="client-box2-birthday-box">
        {% for bg in bgs %}
            {% if bg.user == client %}
                {{ bg.birthday }}
            {% endif %}
        {% endfor %}
    </div>
    <div class="client-box2-phone-name">
        Phone Number
    </div>
    <div class="client-box2-phone-box">
        {% for bg in bgs %}
            {% if bg.user == client %}
                {{ bg.phone_number }}
            {% endif %}
        {% endfor %}
    </div>
    <div class="client-box2-street-name">
        Street Address
    </div>
    <div class="client-box2-street-box">
        {% for bg in bgs %}
            {% if bg.user == client %}
                {% for demo in demos %}
                    {% if demo.background == bg %}
                        {{ demo.street_address }}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
    <div class="client-box2-city-name">
        City
    </div>
    <div class="client-box2-city-box">
        {% for bg in bgs %}
            {% if bg.user == client %}
                {% for demo in demos %}
                    {% if demo.background == bg %}
                        {{ demo.city }}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
    <div class="client-box2-zipcode-name">
        Zipcode
    </div>
    <div class="client-box2-zipcode-box">
        {% for bg in bgs %}
            {% if bg.user == client %}
                {% for demo in demos %}
                    {% if demo.background == bg %}
                        {{ demo.zipcode }}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
    <div class="client-box2-status-name">
        Member Status
    </div>
    <div class="client-box2-status-box">
        {% if client.is_active %}
            Active Member
        {% else %}
            Inactive Member
        {% endif %}
    </div>
    <div class="client-box2-registered-name">
        Registered Date
    </div>
    <div class="client-box2-registered-box">
        Jan 30th, 2019
    </div>
</div>

<div class="client-box3 hidden">
    <div class="client-box3-notes-title">
        Notes
    </div>
    <div class="client-box3-notes-box">
        {% for bg in bgs %}
            {% if bg.user == client %}
                {% for note in notes %}
                    {% if note.background == bg %}
                        {{ note.notes }}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
    <div class="client-box3-activity">
        Basic Activity and Community Needs
    </div>
    <div class="client-box3-date-title">
        October 12, 2020
    </div>
    <div class="client-box3-cm">
        Kathy, 211 Case Manager
    </div>
</div>

<div class="client-box4 hidden">
    <button class="client-box4-upcoming">
        Upcoming Appointments
    </button>
    <button class="client-box4-past">
        Past Appointments
    </button>
    <button class="client-box4-service">
        Service Referrals
    </button>
    <button class="client-box4-medical">
        Medical Records
    </button>
    <div class="client-box4-box">
        {% for referral in referrals %}
			<p>{{ referral.service }} - {{ referral.org }}</p>
			<p>Referred by {{ referral.referrer }}</p>
		{% endfor %}
    </div>
</div>

<div class="client-box5 hidden">
    <div class="client-box5-title">
        Resource / Documents
    </div>
    <div class="client-box5-file1">
        <div class="client-box5-file-title">
            Aging and Disability.pdf
        </div>
    </div>
    <div class="client-box5-file2">
        <div class="client-box5-file-title">
            Legal and Tax Services.doc
        </div>
    </div>
    <div class="client-box5-file3">
        <div class="client-box5-file-title">
            MD Housing and Shelter.png
        </div>
    </div>
    <div class="client-box5-see-all">
        See all
    </div>
</div>
</div>
{% endfor %}

{% endblock %}