<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  {% load static %}
  {% load project_templates %}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dashboard</title>
  <link rel="stylesheet"
    href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
  <script src="https://kit.fontawesome.com/f0b88b09a7.js" crossorigin="anonymous"></script>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <link rel="stylesheet" href="{% static 'app/content/style.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'app/content/chat.css' %}" />
  <link rel="stylesheet" href="{% static 'app/content/chatPopUp.css' %}" />
  <link rel="stylesheet" href="{% static 'app/content/myModal.css' %}" />
  <link rel="stylesheet" href="{% static 'app/content/simple-calendar.css' %}" />



  <link rel="stylesheet" href="{% static 'app/content/instantmessage.css' %}" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css"
    rel="stylesheet">

  <script src="https://kit.fontawesome.com/4c41725219.js" crossorigin="anonymous"></script>
  <script src="{% static 'app/scripts/jquery.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->

  <script src="{% static 'app/scripts/tasks.js' %}"></script>
  <script src="{% static 'app/scripts/cal.js' %}"></script>
  <!--<script src="{% static 'app/scripts/chatPopUp.js' %}"></script>-->
  <script src="{% static 'app/scripts/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'app/scripts/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'app/scripts/jquery.fileupload.js' %}"></script>
  
  <!--<script src="{% static 'app/scripts/pop.js' %}"></script>-->
  <style>
    body {
      margin: 40px 10px;
      padding: 0;
      font-family: Helvetica;
      font-size: 14px;
    }
    .modal-backdrop.show:nth-child(even) {
            z-index: 1040 !important;
            opacity: .5;
        }
  </style>
</head>

<body>
  <div class="sidebar">


    <div class="sidebar-menu">
      <ul>
        <li>
          <a href="{% url 'dashboard' %}" class="active">
            <span id="fist-element" class="las la-home"></span>
          </a>
        </li>
        <li>
          <a href="/full_directory/">
            <span class="las la-book"></span>
          </a>
        </li>
        <li>
          <a href="{% url 'multichat' %}">
            <span class="las la-comment-alt"></span>
          </a>
        </li>
        <li>
          <!--<a href="{% url 'clientlist' %}">-->
          <a href="">
            <span class="las la-user-friends"></span>
          </a>
        </li>
        <li>
          <!--<a href="{% url 'userinfo' %}">-->
          <a href="">
            <span class="las la-plus-circle"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>



  <header class="dash-header">

    <div class="sidebar-header">
      <span id="sidebar-toggle" class="las la-bars"></span>
    </div>
    <div id="leftside">
      <div class="search-wrapper">
        <span class="las la-search"></span>
        <input type="search" placeholder="Search here" />
      </div>
      <div class="vl"></div>
      <div class="dropdown">
        <div class="user-wrapper">
          <a href="{% url 'profile' %}">
            <div class="profile-pic-wrapper" data-username="{{user.username}}" data-bgcolor="{{user.bgColor}}">
              {% if user.avatar %}
              <img class="profile-pic" src="{{user.avatar.url}}">
              {% endif %}
            </div>
          </a>
          <i id="caret-icon" style=font-size:25px;color:white;float:right; class="las la-angle-down"></i>
          <div class="dropdown-content">
            <div id="usermenu">
              {% if user_bg == None %}
              <h3>{{ user }}</h3>
              {% else %}
              <h3>{{ user_bg }}</h3>
              {% endif %}
              {% if request.user|has_group:"caseworker" %}
              <h4>Caseworker</h4>
              {% elif request.user|has_group:"client" %}
              <h4>Client</h4>
              {% else %}
              <h4>Not implemented</h4>
              {% endif %}
            </div>
            <a href="{% url 'logout' %}">Log out</a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="main-content">
    <div class="running">
      <div><span class="dash"><strong>Dashboard</strong></span><span id="dots" class="las la-ellipsis-v"></span></div>
    </div>

    <div class="submenu">
                 <div class="menu">
        <!--<div class="menu-header">
          Coming Up
        </div>-->
        <div class="card-single-one">
        <div id="container" class="calendar-container"></div>
        <div class="event-container"><div class="event-header"><h5 style="    color: #015D67;
          text-align: left;
          margin-left: 2%;
          vertical-align: middle;
          position: relative;
          font-weight: bold;
          font-size: initial;
          padding-top: 2.8%;
          width: 20%;">Coming Up</h5><div class="event-day" style="    position: relative;
    height: 100%;
    width: 24%;
    margin-left: 17%;
    overflow-y: hidden;
    padding-top: 2.8%;"></div><i id="add-event-button" class="las la-plus" style="    position: relative;
    position: absolute;
    color: #015D67;
    cursor: pointer;
    /* float: right; */
    right: 0px;
    bottom: 15%;"></i></div><div class="event-body" id="event-body"></div></div>        <div class="card-footer" style="
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    bottom: 0 !important;
    margin-top: 0px;
    margin-bottom: 0px !important;
        ">
        <div class="calendar-icons"><span style="float: right;"><span style="color: #5F5F5F;display: none; cursor: pointer; margin-top: 0px;
          margin-right: 20px;" class="material-icons cal">
calendar_today
</span><span style="color: #5F5F5F; cursor: pointer; margin-top: 0px; margin-right: 20px;" class="material-icons list">
  view_list
  </span></span>
        </div>
          
        </div>
      </div>
      </div>
      <div class="confirmation-chat-modal">
        <div id="confirmation-removal-page">
            <div>
                <p style="margin-left: 5%; padding-top: 5%">
                    <strong>Remove Event</strong> <br>
                <p style="margin-left: 5%; padding-top: 2%">
                    Are you sure you wish to delete this event? <br>
                </p>
                </p>
            </div>
            <span style="margin-top: 5%; float: right; margin-right: 5%">
                <button id="confirmation" type="button" class="btn btn-primary" style="padding: 5px;
                position: relative;
                width: 90px;
                height: 40px;
                background: #015D67;
                border-radius: 6px;
                /*float: right;*/
                color: white;
                font-family: Effra;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                cursor: pointer;">Confirm</button>
                <button type="button" class="btn btn-outline-secondary" id="reverse">Cancel</button>
            </span>
        </div>
    </div>
      <div id="members-page">

        <div id="members-page-content">
            <header>
                <div><span style="padding-left: 5%;font-size:x-large;">Add Event</span>
                    <i class="las la-window-close" style="right:0; height: 10%; float:right; position: relative;"
                       id="close-modal"
                        title="Close Modal"></i>
                </div>    
            </header>
    
            <div>
    
                <div>
                    <p style="margin-left: 10%;">
                      <form action="/createevents/" id="event_form" method="post" style="margin-left: 30px;height: fit-content;">
                        {% csrf_token %}
                        <div class="form-row">
                          <p>{{ create_event_form.title }}</p>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-4">
                        <p>{{ create_event_form.start_day }}</p>
                        </div>
                        <div class="form-group col-md-4">
                          <p>{{ create_event_form.start_time }}</p>
                        </div>
                        <div class="form-group col-md-4">
                          <p>
                            <label for="id_all_day">all day:</label>
                            {{ create_event_form.all_day }}
                          </p>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-4">
                          <p>{{ create_event_form.end_day }}</p>
                          </div>
                        <div class="form-group col-md-4">
                          <p>{{ create_event_form.end_time }}</p>
                        </div>

                      </div>
                      <div class="form-row">

                        <p>{{ create_event_form.description }}</p>
                      </div>
 
                      <!--
                        <div id="sandbox-container">
                          <div class="input-append date">
                            <input type="text" name="start_day" required id="id_start_day" class="span2">
                            <span class="add-on"><i class="icon-th"></i></span>
                          </div>
                        </div>
                      -->
                        <button type="submit" class="btn btn-outline-secondary" value="Submit" style="padding: 5px;
                        position: relative;
                        width: 90px;
                        height: 40px;
                        background: #015D67;
                        border-radius: 6px;
                        /*float: right;*/
                        color: white;
                        font-family: Effra;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        cursor: pointer;">Save</button>
                        <button type="button" class="btn btn-outline-secondary" name="cancel" id="canc">Delete</button>
                      </form>
                    </p>
                </div>
            </div>
        </div>
    </div>
      <div class="menu2">
        <div class="menu-header">
          Clients
          <i class="fas fa-plus fa-1x" id="client-add-btn"></i>
        </div>
        <div class="menu2-body">
          <div class="menu2-body-header">
            <i class="fas fa-sliders-h fa-2x" id="filter-client-btn"></i>
            <div class="menu2-input-field">
              <i class="fa fa-search fa-lg" id="client-search-icon"></i>
              <input type="text" placeholder="Search" id="client-search-input" onkeyup="filterClientFunction()"/>
            </div>
          </div>
          <div class="menu2-client-box">
            {% for client in my_clients.clients.all %}
              <div class="client-list-client" value="{{ client }}"><div class="menu2-client-pfp"></div> {{ client }} <div class="client-list-tasks">Tasks pending: {{ client_tasks_pending|index:forloop.counter0 }}</div></div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>


    <script>
     const csrf1 = document.getElementsByName('csrfmiddlewaretoken')
                         
    

    $(document).ready(function() {
        $('body').on('click', '.fas.fa-times', function () {
            var noteid = $(this).val();
            const fd = new FormData()
            fd.append('csrfmiddlewaretoken', csrf1[0].value)
            fd.append('noteid-d', noteid)
            $.ajax({
                type: 'POST',
                url: url,
                enctype: 'multipart/form-data',
                data: fd,
                success: function (response) {
                    $('.notes-list-items[value='+ noteid +']').remove();
                },
                error: function (error) {
                    console.log(error)
                },
                            cache: false,
                            contentType: false,
                             processData: false,
                        })
        })

        $("body").on('click', '.btn-save-notes', function () {
            var descrip = $('#id_description').val();
            const fd = new FormData()
            fd.append('csrfmiddlewaretoken', csrf1[0].value)
            fd.append('id_description', descrip)
                // Create Ajax Call
                $.ajax({
                    type: 'POST',
                    url: url,
                    enctype: 'multipart/form-data',
                    data: fd,
                    dataType: 'json',
                    success: function (data) {
                        if (data.user) {
                          appendToUsrTable(data.user);
                        }
                    }
                });
              })
    });
        </script>

    <div class="menu3">
      <div class="menu-header">
          My Notes
      </div>
      <br><br>
      <form method="post" class="notes-form" action="{% url 'dashboard' %}">
          {% csrf_token  %}
          {{ notesForm }}
      <br><br>
      <button class="btn-save-notes"><div class="btn-text">Save</div></button>
      <br><br>
      </form>
      <ul class="note-list">
            {% for note in notes %}
                <li class="notes-list-items">
                    <p class="note-date">{{ note.date }}</p>
                    <button class="fas fa-pencil-alt"></button>
                    <button class="fas fa-times" value="{{ note.id }}"></button>
                    <p class="note-descript">{{ note.description }}</p>
                </li>
            {% endfor %}                  
       </ul>
      </div>

    <div class="menu4">
      <div class="menu4-selection-box">
        <div class="menu4-btn-container">
          <div class="btn-my-tasks btn-active"><div class="btn-text">My Tasks</div></div>
          <div class="btn-activity"><div class="btn-text">Sent Tasks</div></div>
        </div>
        <div class="menu4-filter-tasks">
          <i class="fas fa-sliders-h fa-2x" id="filter-btn" data-html="true" data-container="body" data-toggle="popover" data-placement="left" 
          data-content="<input type='radio' id='filter-date' name='task_filter' value='by_date' checked>
            <label for='filter-date'>By Date</label><br>
            <input type='radio' id='filter-prio' name='task_filter' value='by_prio'>
            <label for='filter-prio'>By Priority</label><br>
            <input type='radio' id='filter-assigner' name='task_filter' value='by_assigner'>
            <label for='filter-assigner'>By Assigner</label><br>"></i>
          <div class="filter-tasks-text">Filter Tasks</div>
          <div class="btn-new-task" type="button" data-toggle="modal" data-target="#taskModal"><div class="btn-text">New Task</div></div>
        </div>

        <div class="menu4-filter-sent-tasks">
          <i class="fas fa-sliders-h fa-2x" id="filter-btn" data-html="true" data-container="body" data-toggle="popover" data-placement="left" 
          data-content="<input type='radio' id='filter-date' name='sent_task_filter' value='by_date' checked>
            <label for='filter-date'>By Date</label><br>
            <input type='radio' id='filter-prio' name='sent_task_filter' value='by_prio'>
            <label for='filter-prio'>By Priority</label><br>
            <input type='radio' id='filter-assignee' name='sent_task_filter' value='by_assignee'>
            <label for='filter-assignee'>By Assignee</label><br>"></i>
          <div class="filter-sent-tasks-text">Filter Tasks</div>
          <div class="btn-new-task" type="button" data-toggle="modal" data-target="#taskModal"><div class="btn-text">New Task</div></div>
        </div>

      </div>
      <div class="menu4-upcoming-tasks"><div class="menu4-submenu-title">Upcoming {% if upcoming_tasks %}({{ upcoming_tasks|length }}){% else %} {% endif %}</div><div class="menu4-dropbtn" id="upcoming-dd"><i class="fas fa-chevron-down fa-lg"></i></div></div>
      <div class="upcoming-tasks-list inactive">
        {% for task in upcoming_tasks %}
          <div class="task-card">
            {% if task.priority.priority == "Low" %}
              <div class="task-banner-0"></div>
            {% elif task.priority.priority == "Medium" %}
              <div class="task-banner-1"></div>
            {% elif task.priority.priority == "High" %}
              <div class="task-banner-2"></div>
            {% endif %}
            <div class="task-title">{{ task.task_title }}</div>
            <div class="task-calender"><i class="far fa-calendar-alt fa-2x"></i></div>
            <div class="task-deadline">Deadline: {{ task.due_date }}</div>
            <input type="checkbox" class="task-mark-tick" value="{{ task.id }}">
            <div class="task-mark">Mark as complete</div>
            <div class="task-assignee">Assigned to me</div>
          </div>
        {% endfor %}
      </div>


      <div class="menu4-upcoming-sent-tasks"><div class="menu4-submenu-title">Upcoming {% if sent_upcoming_tasks %}({{ sent_upcoming_tasks|length }}){% else %} {% endif %}</div><div class="menu4-dropbtn" id="sent-upcoming-dd"><i class="fas fa-chevron-down fa-lg"></i></div></div>
      <div class="sent-upcoming-tasks-list inactive">
        {% for task in sent_upcoming_tasks %}
          <div class="task-card">
            {% if task.priority.priority == "Low" %}
              <div class="task-banner-0"></div>
            {% elif task.priority.priority == "Medium" %}
              <div class="task-banner-1"></div>
            {% elif task.priority.priority == "High" %}
              <div class="task-banner-2"></div>
            {% endif %}
            <div class="task-title">{{ task.task_title }}</div>
            <div class="task-calender"><i class="far fa-calendar-alt fa-2x"></i></div>
            <div class="task-deadline">Deadline: {{ task.due_date }}</div>
            <input type="checkbox" class="task-mark-tick" value="{{ task.id }}">
            <div class="task-mark">Mark as complete</div>
            <div class="task-assignee">Assigned to {% for assignee in task.assignees.all %} {{ assignee }} {% endfor %}</div>
          </div>
        {% endfor %}
      </div>


      <div class="menu4-due-this-week"><div class="menu4-submenu-title">Due This Week {% if weekly_tasks %}({{ weekly_tasks|length }}){% else %} {% endif %} </div><div class="menu4-dropbtn" id="weekly-dd"><i class="fas fa-chevron-down fa-lg"></i></div></div>
      <div class="weekly-tasks-list inactive">
        {% for task in weekly_tasks %}
          <div class="task-card">
            {% if task.priority.priority == "Low" %}
              <div class="task-banner-0"></div>
            {% elif task.priority.priority == "Medium" %}
              <div class="task-banner-1"></div>
            {% elif task.priority.priority == "High" %}
              <div class="task-banner-2"></div>
            {% endif %}
            <div class="task-title">{{ task.task_title }}</div>
            <div class="task-calender"><i class="far fa-calendar-alt fa-2x"></i></div>
            <div class="task-deadline">Deadline: {{ task.due_date }}</div>
            <input type="checkbox" class="task-mark-tick" value="{{ task.id }}">
            <div class="task-mark">Mark as complete</div>
            <div class="task-assignee">Assigned to me</div>
          </div>
        {% endfor %}
      </div>

      <div class="menu4-sent-due-this-week"><div class="menu4-submenu-title">Due This Week {% if sent_weekly_tasks %}({{ sent_weekly_tasks|length }}){% else %} {% endif %} </div><div class="menu4-dropbtn" id="sent-weekly-dd"><i class="fas fa-chevron-down fa-lg"></i></div></div>
      <div class="sent-weekly-tasks-list inactive">
        {% for task in sent_weekly_tasks %}
          <div class="task-card">
            {% if task.priority.priority == "Low" %}
              <div class="task-banner-0"></div>
            {% elif task.priority.priority == "Medium" %}
              <div class="task-banner-1"></div>
            {% elif task.priority.priority == "High" %}
              <div class="task-banner-2"></div>
            {% endif %}
            <div class="task-title">{{ task.task_title }}</div>
            <div class="task-calender"><i class="far fa-calendar-alt fa-2x"></i></div>
            <div class="task-deadline">Deadline: {{ task.due_date }}</div>
            <input type="checkbox" class="task-mark-tick" value="{{ task.id }}">
            <div class="task-mark">Mark as complete</div>
            <div class="task-assignee">Assigned to {% for assignee in task.assignees.all %} {{ assignee }} {% endfor %}</div>
          </div>
        {% endfor %}
      </div>


      <div class="menu4-past-due"><div class="menu4-submenu-title">Past Due {% if past_due_tasks %}({{ past_due_tasks|length }}){% else %} {% endif %}</div><div class="menu4-dropbtn" id="past-dd"><i class="fas fa-chevron-down fa-lg"></i></div></div>
      <div class="past-tasks-list inactive">
        {% for task in past_due_tasks %}
          <div class="task-card">
            {% if task.priority.priority == "Low" %}
              <div class="task-banner-0"></div>
            {% elif task.priority.priority == "Medium" %}
              <div class="task-banner-1"></div>
            {% elif task.priority.priority == "High" %}
              <div class="task-banner-2"></div>
            {% endif %}
            <div class="task-title">{{ task.task_title }}</div>
            <div class="task-calender"><i class="far fa-calendar-alt fa-2x"></i></div>
            <div class="task-deadline">Deadline: {{ task.due_date }}</div>
            <input type="checkbox" class="task-mark-tick" value="{{ task.id }}">
            <div class="task-mark">Mark as complete</div>
            <div class="task-assignee">Assigned to me</div>
          </div>
        {% endfor %}
      </div>

      <div class="menu4-sent-past-due"><div class="menu4-submenu-title">Past Due {% if sent_past_due_tasks %}({{ sent_past_due_tasks|length }}){% else %} {% endif %}</div><div class="menu4-dropbtn" id="sent-past-dd"><i class="fas fa-chevron-down fa-lg"></i></div></div>
      <div class="sent-past-tasks-list inactive">
        {% for task in sent_past_due_tasks %}
          <div class="task-card">
            {% if task.priority.priority == "Low" %}
              <div class="task-banner-0"></div>
            {% elif task.priority.priority == "Medium" %}
              <div class="task-banner-1"></div>
            {% elif task.priority.priority == "High" %}
              <div class="task-banner-2"></div>
            {% endif %}
            <div class="task-title">{{ task.task_title }}</div>
            <div class="task-calender"><i class="far fa-calendar-alt fa-2x"></i></div>
            <div class="task-deadline">Deadline: {{ task.due_date }}</div>
            <input type="checkbox" class="task-mark-tick" value="{{ task.id }}">
            <div class="task-mark">Mark as complete</div>
            <div class="task-assignee">Assigned to {% for assignee in task.assignees.all %} {{ assignee }} {% endfor %}</div>
          </div>
        {% endfor %}
      </div>


      <div class="menu4-high-prio menu4-hide"><div class="menu4-submenu-title">High {% if high_prio_tasks %}({{ high_prio_tasks|length }}){% else %} {% endif %}</div><div class="menu4-dropbtn" id="high-prio-dd"><i class="fas fa-chevron-down fa-lg"></i></div></div>
      <div class="high-prio-tasks-list inactive">
        {% for task in high_prio_tasks %}
          <div class="task-card">
            <div class="task-banner-2"></div>
            <div class="task-title">{{ task.task_title }}</div>
            <div class="task-calender"><i class="far fa-calendar-alt fa-2x"></i></div>
            <div class="task-deadline">Deadline: {{ task.due_date }}</div>
            <input type="checkbox" class="task-mark-tick" value="{{ task.id }}">
            <div class="task-mark">Mark as complete</div>
            <div class="task-assignee">Assigned to me</div>
          </div>
        {% endfor %}
      </div>

      <div class="menu4-sent-high-prio menu4-hide"><div class="menu4-submenu-title">High {% if sent_high_prio_tasks %}({{ sent_high_prio_tasks|length }}){% else %} {% endif %}</div><div class="menu4-dropbtn" id="sent-high-prio-dd"><i class="fas fa-chevron-down fa-lg"></i></div></div>
      <div class="sent-high-prio-tasks-list inactive">
        {% for task in sent_high_prio_tasks %}
          <div class="task-card">
            <div class="task-banner-2"></div>
            <div class="task-title">{{ task.task_title }}</div>
            <div class="task-calender"><i class="far fa-calendar-alt fa-2x"></i></div>
            <div class="task-deadline">Deadline: {{ task.due_date }}</div>
            <input type="checkbox" class="task-mark-tick" value="{{ task.id }}">
            <div class="task-mark">Mark as complete</div>
            <div class="task-assignee">Assigned to {% for assignee in task.assignees.all %} {{ assignee }} {% endfor %}</div>
          </div>
        {% endfor %}
      </div>


      <div class="menu4-med-prio menu4-hide"><div class="menu4-submenu-title">Medium {% if med_prio_tasks %}({{ med_prio_tasks|length }}){% else %} {% endif %}</div><div class="menu4-dropbtn" id="med-prio-dd"><i class="fas fa-chevron-down fa-lg"></i></div></div>
      <div class="med-prio-tasks-list inactive">
        {% for task in med_prio_tasks %}
          <div class="task-card">
            <div class="task-banner-1"></div>
            <div class="task-title">{{ task.task_title }}</div>
            <div class="task-calender"><i class="far fa-calendar-alt fa-2x"></i></div>
            <div class="task-deadline">Deadline: {{ task.due_date }}</div>
            <input type="checkbox" class="task-mark-tick" value="{{ task.id }}">
            <div class="task-mark">Mark as complete</div>
            <div class="task-assignee">Assigned to me</div>
          </div>
        {% endfor %}
      </div>

      <div class="menu4-sent-med-prio menu4-hide"><div class="menu4-submenu-title">Medium {% if sent_med_prio_tasks %}({{ sent_med_prio_tasks|length }}){% else %} {% endif %}</div><div class="menu4-dropbtn" id="sent-med-prio-dd"><i class="fas fa-chevron-down fa-lg"></i></div></div>
      <div class="sent-med-prio-tasks-list inactive">
        {% for task in sent_med_prio_tasks %}
          <div class="task-card">
            <div class="task-banner-1"></div>
            <div class="task-title">{{ task.task_title }}</div>
            <div class="task-calender"><i class="far fa-calendar-alt fa-2x"></i></div>
            <div class="task-deadline">Deadline: {{ task.due_date }}</div>
            <input type="checkbox" class="task-mark-tick" value="{{ task.id }}">
            <div class="task-mark">Mark as complete</div>
            <div class="task-assignee">Assigned to {% for assignee in task.assignees.all %} {{ assignee }} {% endfor %}</div>
          </div>
        {% endfor %}
      </div>


      <div class="menu4-low-prio menu4-hide"><div class="menu4-submenu-title">Low {% if low_prio_tasks %}({{ low_prio_tasks|length }}){% else %} {% endif %}</div><div class="menu4-dropbtn" id="low-prio-dd"><i class="fas fa-chevron-down fa-lg"></i></div></div>
      <div class="low-prio-tasks-list inactive">
        {% for task in low_prio_tasks %}
          <div class="task-card">
            <div class="task-banner-0"></div>
            <div class="task-title">{{ task.task_title }}</div>
            <div class="task-calender"><i class="far fa-calendar-alt fa-2x"></i></div>
            <div class="task-deadline">Deadline: {{ task.due_date }}</div>
            <input type="checkbox" class="task-mark-tick" value="{{ task.id }}">
            <div class="task-mark">Mark as complete</div>
            <div class="task-assignee">Assigned to me</div>
          </div>
        {% endfor %}
      </div>

      <div class="menu4-sent-low-prio menu4-hide"><div class="menu4-submenu-title">Low {% if sent_low_prio_tasks %}({{ sent_low_prio_tasks|length }}){% else %} {% endif %}</div><div class="menu4-dropbtn" id="sent-low-prio-dd"><i class="fas fa-chevron-down fa-lg"></i></div></div>
      <div class="sent-low-prio-tasks-list inactive">
        {% for task in sent_low_prio_tasks %}
          <div class="task-card">
            <div class="task-banner-0"></div>
            <div class="task-title">{{ task.task_title }}</div>
            <div class="task-calender"><i class="far fa-calendar-alt fa-2x"></i></div>
            <div class="task-deadline">Deadline: {{ task.due_date }}</div>
            <input type="checkbox" class="task-mark-tick" value="{{ task.id }}">
            <div class="task-mark">Mark as complete</div>
            <div class="task-assignee">Assigned to {% for assignee in task.assignees.all %} {{ assignee }} {% endfor %}</div>
          </div>
        {% endfor %}
      </div>

      {% for dict in assigner_dict %}
        <div class="menu4-assigner-tasks menu4-hide"><div class="menu4-submenu-title">{{ dict }} ({{ assigner_dict|getvalue:dict }}) </div><div class="menu4-dropbtn" id="assigner-dd-{{ forloop.counter0 }}" value="{{ forloop.counter0 }}"><i class="fas fa-chevron-down fa-lg"></i></div></div>
        <div class="assigner-tasks-list inactive" value="{{ forloop.counter0 }}">
          {% for task in all_tasks %}
            {% if task.assigner == dict %}
              <div class="task-card">
                {% if task.priority.priority == "Low" %}
                  <div class="task-banner-0"></div>
                {% elif task.priority.priority == "Medium" %}
                  <div class="task-banner-1"></div>
                {% elif task.priority.priority == "High" %}
                  <div class="task-banner-2"></div>
                {% endif %}
                <div class="task-title">{{ task.task_title }}</div>
                <div class="task-calender"><i class="far fa-calendar-alt fa-2x"></i></div>
                <div class="task-deadline">Deadline: {{ task.due_date }}</div>
                <input type="checkbox" class="task-mark-tick" value="{{ task.id }}">
                <div class="task-mark">Mark as complete</div>
                <div class="task-assignee">Assigned to me</div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endfor %}

      {% for dict in assignee_dict %}
        <div class="menu4-assignee-tasks menu4-hide"><div class="menu4-submenu-title">{{ dict }} ({{ assignee_dict|getvalue:dict }}) </div><div class="menu4-dropbtn" id="assignee-dd-{{ forloop.counter0 }}" value="{{ forloop.counter0 }}"><i class="fas fa-chevron-down fa-lg"></i></div></div>
        <div class="assignee-tasks-list inactive" value="{{ forloop.counter0 }}">
          {% for task in sent_tasks %}
            {% if dict in task.assignees.all %}
              <div class="task-card">
                {% if task.priority.priority == "Low" %}
                  <div class="task-banner-0"></div>
                {% elif task.priority.priority == "Medium" %}
                  <div class="task-banner-1"></div>
                {% elif task.priority.priority == "High" %}
                  <div class="task-banner-2"></div>
                {% endif %}
                <div class="task-title">{{ task.task_title }}</div>
                <div class="task-calender"><i class="far fa-calendar-alt fa-2x"></i></div>
                <div class="task-deadline">Deadline: {{ task.due_date }}</div>
                <input type="checkbox" class="task-mark-tick" value="{{ task.id }}">
                <div class="task-mark">Mark as complete</div>
                <div class="task-assignee">Assigned to {{ dict }}</div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endfor %}

    </div>

    <form method="post">
    <div class="modal box5 fade" id="taskModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            {% csrf_token %}
            {{ form1.task_title }}
            {{ form1.due_date }}
            {{ form1.assignees }}
            <div id="due-date-title">Due Date</div>
            {{ form1.priority }}
            <div id="priority-title">Priority</div>
            <div id="assignees-title">Assignee(s)</div>
            <div id="assignees-add-btn" type="button" data-toggle="modal" data-target="#assigneeModal">+</div>
            <div id="assignees-box"></div>
            {{ form1.task_description }}
            <button type="button" class="cancel-task-btn" data-dismiss="modal">CANCEL</button>
            <button type="submit" class="create-task-btn">CREATE</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal box5 fade" id="assigneeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="assignee-caseworker active-btn">Caseworkers</div>
            <div class="assignee-client">Clients</div>
            <div class="caseworker-box active-box">
              {% for user in users %}
              {% if user|has_group:"caseworker" %}
                <div class="assignee-option" value='{{ user.id }}'>{{ user }}</div>
              {% endif %}
              {% endfor %}
            </div>
            <div class="client-box">
              {% for user in users %}
              {% if user|has_group:"client" %}
                <div class="assignee-option" value='{{ user.id }}'>{{ user }}</div>
              {% endif %}
              {% endfor %}
            </div>
            <button type="button" class="confirm-assignees" data-dismiss="modal">CONFIRM</button>
          </div>
        </div>
      </div>
    </div>
    </form>

    <div class="open-button">Chat<i id="opn_btn" style="font-size:25px;color:white;float:right;" class="las la-angle-up"
        onclick="openForm()"></i></div>

    <div class="chat-popup" id="myForm">
      <div class="chatHeader">Chat<i id="cls_btn" style="font-size:25px;color:white;float:right;"
          class="las la-angle-down" onclick="closeForm()"></i></div>
      <div class="left-panel" id="left-panel">
        <div class="left-panel-header" style="height: 15%;">
          <div class="search-container">
            <input type=" text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
          </div>
        </div>
        <div class="rooms-container">
          <div class="rooms">
            {% for room in rooms %}
            <li class="room-link" data-room-id="{{ room.id }}">{{ room }}</li>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="middle-panel" id="middle-panel">
        <div class="user-header" style="height: 10%;">
          <div>
            <h4 style="margin-top: 3.5%;"></h4><button class="showMembers" style="display: none;">members</button>
          </div>
          <button class="add-user" style="display: none;">Add User</button>


        </div>
        <section id="users-list" style="display: none; position: relative;">
          <p>
            <input id="tag-input" style="display: none; position: relative;" name="users-list-tags" /><button
              style="display: none; position: relative;" id="create-group">
              Create
            </button>
          </p>
        </section>
        <div class="arrows" style="height: 10%;background-color: #F0F0F0;"><i id="go_back" class="las la-arrow-left"
            style="font-size:25px;margin-top: 3.5%;"></i><i id="expand" class="las la-expand-arrows-alt"
            style="font-size:25px;float:right;cursor: pointer;margin-top: 3.5%;"></i></div>
        <div class="chat-log"></div>
        <div class="input-section" style="height: 10%;background-color: #F0F0F0;">
          <input id="fileupload" type="file" name="file" multiple style="display: none" data-url="{% url 'upload' %}"
            data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}' />
          <form class="sending-form">
            <div>
              <input type="text" style="display: none; width: 75%;margin-top: 2%;" id="typed_msg"
                placeholder="Type a message" required />
              <i id="upload-photos-button" class="las la-paperclip"
                style="display:none;cursor:pointer;font-size:25px;float: left;margin-top: 3%;margin-left: 1.5%;"></i>
              <button class="msg_send_btn" style="display: none;float:left;margin-right: 1%;width: 9%;" type="submit"><i
                  style="color: white;" class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
            </div>
          </form>
        </div>
      </div>
      <div class="right-panel" id="right-panel" style="display: none;">
        <button class="rightAccordion" style="display: none;">Members</button>
        <div class="rightPanel">
          <ul class="right-btn-group">
            <li class="list-of-members"></li>
          </ul>
        </div>
        <button class="rightAccordion">Files</button>
        <div class="rightPanel">
          <div class="right-btn-group">
            <button>File 1</button>
            <button>File 2</button>
            <button>File 3</button>
          </div>
        </div>

        <button class="rightAccordion">Links</button>
        <div class="rightPanel">
          <div class="right-btn-group">
            <button>Link 1</button>
            <button>Link 2</button>
            <button>Link 3</button>
          </div>
        </div>
        <script src="{% static 'app/scripts/rightChat.js' %}"></script>
      </div>
    </div>
    <input id="myself" type="hidden" value="{{request.user.username}}" />
    <script>
      function filterClientFunction() {
        var input, filter, div, a, i;
        input = document.getElementById("client-search-input");
        filter = input.value.toUpperCase();
        a = document.getElementsByClassName("client-list-client")
        for (i = 0; i < a.length; i++) {
          txtValue = a[i].getAttribute("value")
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            $(a[i]).parent().css("display", "")
          } else {
            $(a[i]).parent().css("display", "none")
          }
        }
      }

      function openForm() {
        document.getElementById("myForm").style.display = "block";
        $(".open-button").hide();
      }

      function closeForm() {
        document.getElementById("myForm").style.display = "none";
        document.getElementById("opn_btn").style.display = "block";
        $(".open-button").show();
      }
    </script>
  </div>
  <audio id="chatAudio">
    <source src="{% static 'app/audio/notification.mp3' %}" type="audio/mpeg">
  </audio>
  <script src="{% static 'app/scripts/simple-calendar.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"
    integrity="sha512-B4skI5FiLurS86aioJx9VfozI1wjqrn6aTdJH+YQUmCZum/ZibPBTX55k5d9XM6EsKePDInkLVrN7vPmJxc1qA=="
    crossorigin="anonymous"></script>
  <script src="{% static 'app/scripts/default_avatar.js' %}"></script>
  <script>

    $("#caret-icon").on('click', function () {
      $(this).toggleClass('la-angle-up la-angle-down');
      $(".dropdown-content").toggle('show hide');
    })
    $(".list").on('click', function () {
      $(".list").toggle();
      $(".cal").toggle();
      $("#container").toggle();
      $(".event-container").toggle();
    })
    $(".cal").on('click', function () {
      $(".list").toggle();
      $(".cal").toggle();
      $("#container").toggle();
      $(".event-container").toggle();
    })
    $("#sidebar-toggle").on('click', function () {
      $(".sidebar").toggle('show hide');
    })
  </script>
</body>

</html>
