<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  {% load static %}
  {% load project_templates %}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dashboard</title>
  <link rel="stylesheet"
    href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
  <script src="https://kit.fontawesome.com/f0b88b09a7.js" crossorigin="anonymous"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
  <link rel="stylesheet" href="{% static 'app/content/style.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'app/content/chat.css' %}" />
  <link href="{% static 'app/content/main.css' %}" rel='stylesheet' />
  <link rel="stylesheet" href="{% static 'app/content/chatPopUp.css' %}" />
  <link rel="stylesheet" href="{% static 'app/content/myModal.css' %}" />
  <link rel="stylesheet" href="{% static 'app/content/simple-calendar.css' %}" />



  <link rel="stylesheet" href="{% static 'app/content/instantmessage.css' %}" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css"
    rel="stylesheet">


  <script src="{% static 'app/scripts/jquery.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <script src="{% static 'app/scripts/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'app/scripts/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'app/scripts/jquery.fileupload.js' %}"></script>
  <script src="{% static 'app/scripts/tasks.js ' %}"></script>
  <!--<script src="{% static 'app/scripts/pop.js' %}"></script>-->
  <style>
    body {
      margin: 40px 10px;
      padding: 0;
      font-family: Helvetica;
      font-size: 14px;
    }
    .modal-backdrop.show:nth-child(even) {
            z-index: 1040 !important;
            opacity: .5;
        }
    #members-page {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 2;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 60px;
  overflow: hidden;
}

/* Modal Content/Box */
#members-page-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #000;
  width: 40%;
  height: 80%;
  z-index: 3;
  border-radius: 5px;
  margin-right: 27%;
  /* Could be more or less, depending on screen size */
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  overflow: hidden;
}
.event-container{
  display: none;
  position: relative;
    overflow: hidden;
    text-transform: capitalize;
    text-align: center;
    font: 15px/1em inherit;
    margin-top: 0 !important;
    top: 0 !important;
    height: fit-content;
    z-index: 1;
    margin-bottom: 50.5%;
}
.event-body{
  position:relative;
  height: auto;
  color: #545A5C;
  margin-top: 5%;

}

.card-footer {
    padding: 0 !important;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
    height: initial;
}
#event_form input[type=text], input[type=email], select{
  width: 150%;
  padding: 12px 10px;
  margin: 5px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  height: 6%;

}
  </style>
</head>

<body>
  <div class="sidebar">


    <div class="sidebar-menu">
      <ul>
        <li>
          <a href="{% url 'dashboard' %}" class="active">
            <span id="fist-element" class="las la-home"></span>
          </a>
        </li>
        <li>
          <a href="{% url 'fulldirectory' %}">
            <span class="las la-book"></span>
          </a>
        </li>
        <li>
          <a href="{% url 'multichat' %}">
            <span class="las la-comment-alt"></span>
          </a>
        </li>
        <li>
          <!--<a href="{% url 'clientlist' %}">-->
          <a href="">
            <span class="las la-user-friends"></span>
          </a>
        </li>
        <li>
          <!--<a href="{% url 'userinfo' %}">-->
          <a href="">
            <span class="las la-plus-circle"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>



  <header class="dash-header">

    <div class="sidebar-header">
      <span id="sidebar-toggle" class="las la-bars"></span>
    </div>
    <div id="leftside">
      <div class="search-wrapper">
        <span class="las la-search"></span>
        <input type="search" placeholder="Search here" />
      </div>
      <div class="vl"></div>
      <div class="dropdown">
        <div class="user-wrapper">
          <a href="{% url 'profile' %}">
            <div class="profile-pic-wrapper" data-username="{{user.username}}" data-bgcolor="{{user.bgColor}}">
              {% if user.avatar %}
              <img class="profile-pic" src="{{user.avatar.url}}">
              {% endif %}
            </div>
          </a>
          <i id="caret-icon" style=font-size:25px;color:white;float:right; class="las la-angle-down"></i>
          <div class="dropdown-content">
            <div id="usermenu">
              {% if user_bg == None %}
              <h3>{{ user }}</h3>
              {% else %}
              <h3>{{ user_bg }}</h3>
              {% endif %}
              {% if request.user|has_group:"caseworker" %}
              <h4>Caseworker</h4>
              {% elif request.user|has_group:"client" %}
              <h4>Client</h4>
              {% else %}
              <h4>Not implemented</h4>
              {% endif %}
            </div>
            <a href="{% url 'logout' %}">Log out</a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="main-content">
    <div class="running">
      <div><span class="dash"><strong>Dashboard</strong></span><span id="dots" class="las la-ellipsis-v"></span></div>
    </div>

    <div class="submenu">
      <div class="menu">
        <!--<div class="menu-header">
          Coming Up
        </div>-->
        <div class="card-single-one">
        <div id="container" class="calendar-container"></div>
        <div class="event-container"><div class="event-header"><h5 style="color:#015D67;text-align: left;margin-left: 2%;">Coming Up</h5></div><ul class="event-body"></ul></div>        <div class="card-footer" style="
        position: relative;
        z-index: 1;
        width: 100%;
        height: 60px;
        bottom: 0 !important;
        margin-top: 20px;
        margin-bottom: 0px !important;
        /* float: right; */
        ">
        <div class="calendar-icons"><span style="float: right;"><i id="show-calendar" class="las la-calendar-plus show-calendar" style="color: gray;"></i><i id="show-events" class="las la-calendar-minus show-events"></i></span>
        </div>
          
        </div>
      </div>
      </div>

      <div id="members-page">

        <div id="members-page-content">
            <header>
                <div><span style="padding-left: 5%;font-size:x-large;">Add Event</span>
                    <i class="las la-window-close" style="right:0; height: 10%; float:right; position: relative;"
                        onclick="document.getElementById('members-page').style.display='none'" id="close"
                        title="Close Modal"></i>
                </div>    
            </header>
    
            <div>
    
                <div>
                    <p style="margin-left: 10%;">
                      <form action={% url 'createevents' %}  id="event_form" method="post" style="height: fit-content;">
                        {% csrf_token %}
                        <div class="form-row">
                          <p>{{ create_event_form.title }}</p>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-4">
                        <p>{{ create_event_form.start_day }}</p>
                        </div>
                        <div class="form-group col-md-4">
                          <p>{{ create_event_form.start_time }}</p>
                        </div>
                        <div class="form-group col-md-1">
                          <p>{{ create_event_form.all_day }}</p>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-4">
                          <p>{{ create_event_form.end_day }}</p>
                          </div>
                        <div class="form-group col-md-4">
                          <p>{{ create_event_form.end_time }}</p>
                        </div>

                      </div>
                      <div class="form-row">

                        <p>{{ create_event_form.description }}</p>
                      </div>
 
                      <!--
                        <div id="sandbox-container">
                          <div class="input-append date">
                            <input type="text" name="start_day" required id="id_start_day" class="span2">
                            <span class="add-on"><i class="icon-th"></i></span>
                          </div>
                        </div>
                      -->
                        <button type="submit" class="btn btn-outline-secondary" value="Submit">Submit</button>
                        <button type="button" class="btn btn-outline-secondary" name="cancel" id="canc">Cancel</button>
                      </form>
                    </p>
                </div>
            </div>
        </div>
    </div>
      <div class="menu2">
        <div class="menu-header">
          Clients
        </div>
      </div>
    </div>

    <div class="menu3">
      <div class="menu-header">
          My Notes
      </div>
      <br><br>
      <form method="post" class="notes-form" action="{% url 'dashboard' %}">
          {% csrf_token  %}
          {{ notesForm }}
      <br><br>
      <button class="btn-save-notes"><div class="btn-text">Save</div></button>
      <br><br>
      </form>
      <ul class="note-list">
            {% for note in notes %}
                <li class="notes-list-items">
                    
                        <p class="note-date">{{ note.date }}</p>

                                <button class="fas fa-pencil-alt"></button>
                                <button class="fas fa-times"></button>
               
                    <p class="note-descript">{{ note.description }}</p>
                    
                </li>
            {% endfor %}                  
       </ul>
      </div>

    <div class="menu4">
      <div class="menu4-selection-box">
        <div class="menu4-btn-container">
          <div class="btn-my-tasks btn-active"><div class="btn-text">My Tasks</div></div>
          <div class="btn-activity"><div class="btn-text">Activity</div></div>
        </div>
        <div class="menu4-filter-tasks">
          <i class="fas fa-sliders-h fa-2x" id="filter-btn"></i>
          <div class="filter-tasks-text">Filter Tasks</div>
          <div class="btn-new-task" type="button" data-toggle="modal" data-target="#taskModal"><div class="btn-text">New Task</div></div>
        </div>
      </div>
      <div class="menu4-upcoming-tasks"><div class="menu4-submenu-title">Upcoming {% if upcoming_tasks %}({{ upcoming_tasks|length }}){% else %} {% endif %}</div><div class="menu4-dropbtn" id="upcoming-dd"><i class="fas fa-chevron-down fa-lg"></i></div></div>
      <div class="upcoming-tasks-list inactive">
        {% for task in upcoming_tasks %}
          <div class="task-card">
            {% if task.priority.priority == "Low" %}
              <div class="task-banner-0"></div>
            {% elif task.priority.priority == "Medium" %}
              <div class="task-banner-1"></div>
            {% elif task.priority.priority == "High" %}
              <div class="task-banner-2"></div>
            {% endif %}
            <div class="task-title">{{ task.title }}</div>
            <div class="task-calender"><i class="far fa-calendar-alt fa-2x"></i></div>
            <div class="task-deadline">Deadline: {{ task.due_date }}</div>
            <div class="task-mark-tick"></div>
            <div class="task-mark">Mark as complete</div>
            <div class="task-assignee">Assigned to me</div>
          </div>
        {% endfor %}
      </div>
      <div class="menu4-due-this-week"><div class="menu4-submenu-title">Due This Week {% if weekly_tasks and weekly_tasks.completion_mark == False %}({{ weekly_tasks|length }}){% else %} {% endif %} </div><div class="menu4-dropbtn" id="weekly-dd"><i class="fas fa-chevron-down fa-lg"></i></div></div>
      <div class="weekly-tasks-list inactive">
        {% for task in weekly_tasks %}
          <div class="task-card">
            {% if task.priority.priority == "Low" %}
              <div class="task-banner-0"></div>
            {% elif task.priority.priority == "Medium" %}
              <div class="task-banner-1"></div>
            {% elif task.priority.priority == "High" %}
              <div class="task-banner-2"></div>
            {% endif %}
            <div class="task-title">{{ task.title }}</div>
            <div class="task-calender"><i class="far fa-calendar-alt fa-2x"></i></div>
            <div class="task-deadline">Deadline: {{ task.due_date }}</div>
            <input type="checkbox" class="task-mark-tick" value="{{ task.id }}">
            <div class="task-mark">Mark as complete</div>
            <div class="task-assignee">Assigned to me</div>
          </div>
        {% endfor %}
      </div>
      <div class="menu4-past-due"><div class="menu4-submenu-title">Past Due {% if past_due_tasks %}({{ past_due_tasks|length }}){% else %} {% endif %}</div><div class="menu4-dropbtn" id="past-dd"><i class="fas fa-chevron-down fa-lg"></i></div></div>
      <div class="past-tasks-list inactive">
        {% for task in past_due_tasks %}
          <div class="task-card">
            {% if task.priority.priority == "Low" %}
              <div class="task-banner-0"></div>
            {% elif task.priority.priority == "Medium" %}
              <div class="task-banner-1"></div>
            {% elif task.priority.priority == "High" %}
              <div class="task-banner-2"></div>
            {% endif %}
            <div class="task-title">{{ task.task_title }}</div>
            <div class="task-calender"><i class="far fa-calendar-alt fa-2x"></i></div>
            <div class="task-deadline">Deadline: {{ task.due_date }}</div>
            <div class="task-mark-tick"></div>
            <div class="task-mark">Mark as complete</div>
            <div class="task-assignee">Assigned to me</div>
          </div>
        {% endfor %}
      </div>
    </div>

    <form method="post">
    <div class="modal box5 fade" id="taskModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            {% csrf_token %}
            {{ form1.task_title }}
            {{ form1.due_date }}
            {{ form1.assignees }}
            <div id="due-date-title">Due Date</div>
            {{ form1.priority }}
            <div id="priority-title">Priority</div>
            <div id="assignees-title">Assignee(s)</div>
            <div id="assignees-add-btn" type="button" data-toggle="modal" data-target="#assigneeModal">+</div>
            {{ form1.task_description }}
            <button type="button" class="cancel-task-btn" data-dismiss="modal">CANCEL</button>
            <button type="submit" class="create-task-btn">CREATE</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal box5 fade" id="assigneeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="assignee-caseworker active-btn">Caseworkers</div>
            <div class="assignee-client">Clients</div>
            <div class="caseworker-box active-box">
              {% for user in users %}
              {% if user|has_group:"caseworker" %}
                <div class="assignee-option" value='{{ user.id }}'>{{ user }}</div>
              {% endif %}
              {% endfor %}
            </div>
            <div class="client-box">
              {% for user in users %}
              {% if user|has_group:"client" %}
                <div class="assignee-option" value='{{ user.id }}'>{{ user }}</div>
              {% endif %}
              {% endfor %}
            </div>
            <button type="button" class="confirm-assignees" data-dismiss="modal">CONFIRM</button>
          </div>
        </div>
      </div>
    </div>
    </form>

    <div class="open-button">Chat<i id="opn_btn" style="font-size:25px;color:white;float:right;" class="las la-angle-up"
        onclick="openForm()"></i></div>

    <div class="chat-popup" id="myForm">
      <div class="chatHeader">Chat<i id="cls_btn" style="font-size:25px;color:white;float:right;"
          class="las la-angle-down" onclick="closeForm()"></i></div>
      <div class="left-panel" id="left-panel">
        <div class="left-panel-header" style="height: 15%;">
          <div class="search-container">
            <input type=" text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
          </div>
        </div>
        <div class="rooms-container">
          <div class="rooms">
            {% for room in rooms %}
            <li class="room-link" data-room-id="{{ room.id }}">{{ room }}</li>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="middle-panel" id="middle-panel">
        <div class="user-header" style="height: 10%;">
          <div>
            <h4 style="margin-top: 3.5%;"></h4><button class="showMembers" style="display: none;">members</button>
          </div>
          <button class="add-user" style="display: none;">Add User</button>


        </div>
        <section id="users-list" style="display: none; position: relative;">
          <p>
            <input id="tag-input" style="display: none; position: relative;" name="users-list-tags" /><button
              style="display: none; position: relative;" id="create-group">
              Create
            </button>
          </p>
        </section>
        <div class="arrows" style="height: 10%;background-color: #F0F0F0;"><i id="go_back" class="las la-arrow-left"
            style="font-size:25px;margin-top: 3.5%;"></i><i id="expand" class="las la-expand-arrows-alt"
            style="font-size:25px;float:right;cursor: pointer;margin-top: 3.5%;"></i></div>
        <div class="chat-log"></div>
        <div class="input-section" style="height: 10%;background-color: #F0F0F0;">
          <input id="fileupload" type="file" name="file" multiple style="display: none" data-url="{% url 'upload' %}"
            data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}' />
          <form class="sending-form">
            <div>
              <input type="text" style="display: none; width: 75%;margin-top: 2%;" id="typed_msg"
                placeholder="Type a message" required />
              <i id="upload-photos-button" class="las la-paperclip"
                style="display:none;cursor:pointer;font-size:25px;float: left;margin-top: 3%;margin-left: 1.5%;"></i>
              <button class="msg_send_btn" style="display: none;float:left;margin-right: 1%;width: 9%;" type="submit"><i
                  style="color: white;" class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
            </div>
          </form>
        </div>
      </div>
      <div class="right-panel" id="right-panel" style="display: none;">
        <button class="rightAccordion" style="display: none;">Members</button>
        <div class="rightPanel">
          <ul class="right-btn-group">
            <li class="list-of-members"></li>
          </ul>
        </div>
        <button class="rightAccordion">Files</button>
        <div class="rightPanel">
          <div class="right-btn-group">
            <button>File 1</button>
            <button>File 2</button>
            <button>File 3</button>
          </div>
        </div>

        <button class="rightAccordion">Links</button>
        <div class="rightPanel">
          <div class="right-btn-group">
            <button>Link 1</button>
            <button>Link 2</button>
            <button>Link 3</button>
          </div>
        </div>
        <script src="{% static 'app/scripts/rightChat.js' %}"></script>
      </div>
    </div>
    <input id="myself" type="hidden" value="{{request.user.username}}" />
    <script>
      function openForm() {
        document.getElementById("myForm").style.display = "block";
        $(".open-button").hide();
      }

      function closeForm() {
        document.getElementById("myForm").style.display = "none";
        document.getElementById("opn_btn").style.display = "block";
        $(".open-button").show();
      }
    </script>
  </div>
  <audio id="chatAudio">
    <source src="{% static 'app/audio/notification.mp3' %}" type="audio/mpeg">
  </audio>
  <script src="{% static 'app/scripts/simple-calendar.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"
    integrity="sha512-B4skI5FiLurS86aioJx9VfozI1wjqrn6aTdJH+YQUmCZum/ZibPBTX55k5d9XM6EsKePDInkLVrN7vPmJxc1qA=="
    crossorigin="anonymous"></script>
  <script src="{% static 'app/scripts/default_avatar.js' %}"></script>
  <script>
    $(document).ready(function () {
      var oldstart = null;
      var oldend = null;
      var eventlist = [];

$.ajax( 
{ 
    type:"GET", 
    url: "createevents", 
    data:{ 
             username: $("#myself").val()
          }, 
success: function(data, textStatus) 
{ 
    for (var i = 0; i < data.events.length; i++)
    {
      eventlist[i] = data.events[i];
    }
console.log("eventlist", eventlist)
},
dataType: 'json'
  }) 
  
    $("#container").simpleCalendar({
        fixedStartDay: 0, // begin weeks by sunday
        onDateSelect: function (date, events) {}, // Callback on date selection
        disableEmptyDetails: true,
        events: [
            // generate new event after tomorrow for one hour
            {
                startDate: new Date(new Date().setHours(new Date().getHours() + 24)).toDateString(),
                endDate: new Date(new Date().setHours(new Date().getHours() + 25)).toISOString(),
                summary: 'Visit of the Eiffel Tower'
            },
            {
                startDate: new Date(new Date().setHours(new Date().getHours() + 24)).toDateString(),
                endDate: new Date(new Date().setHours(new Date().getHours() + 25)).toISOString(),
                summary: 'Visit of the Eiffel Tower'
            },
            // generate new event for yesterday at noon
            {
                startDate: new Date(new Date().setHours(new Date().getHours() - new Date().getHours() - 12, 0)).toISOString(),
                endDate: new Date(new Date().setHours(new Date().getHours() - new Date().getHours() - 11)).getTime(),
                summary: 'Restaurant'
            },
            // generate new event for the last two days
            {
                startDate: new Date(new Date().setHours(new Date().getHours() - 48)).toISOString(),
                endDate: new Date(new Date().setHours(new Date().getHours() - 24)).getTime(),
                summary: 'Visit of the Louvre'
            }
        ],

    });
    document.querySelector(".today").click();

    $("#add-event-button").on('click', function () {
      var startday = new Date(new Date().setHours(new Date().getHours() + 1,0,0));
      var endday = new Date(new Date().setHours(new Date().getHours() + 2,0,0));
      var sday = ("0" + startday.getDate()).slice(-2);
      var smonth = ("0" + (startday.getMonth() + 1)).slice(-2);
      var eday = ("0" + endday.getDate()).slice(-2);
      var emonth = ("0" + (endday.getMonth() + 1)).slice(-2);
      var autosday = startday.getFullYear()+"-"+(smonth)+"-"+(sday);
      var autoeday = endday.getFullYear()+"-"+(emonth)+"-"+(eday);
      var shour=startday.getHours();
      var smin=startday.getMinutes();
      //var sampm = shour >= 12 ? 'pm' : 'am';
      if (shour < 10)
      {
        shour = '0'+shour
      }
      if (smin < 10)
      {
        smin = '0'+smin
      }
      var startTime = shour + ':' + smin;
      /*shour = shour % 12;
      shour = shour ? shour : 12; // the hour '0' should be '12'
      smin = smin < 10 ? '0'+smin : smin;
      var startTime = shour + ':' + smin + ' ' + sampm;
      */
      var ehour= endday.getHours();
      var emin= endday.getMinutes();
      if (ehour < 10)
      {
        ehour = '0'+ehour
      }
      if (emin < 10)
      {
        emin = '0'+emin
      }
      //var eampm= ehour >= 12 ? 'pm' : 'am';

      var endTime = ehour + ':' + emin;
      
      /*ehour = ehour % 12;
      ehour = ehour ? ehour : 12; // the hour '0' should be '12'
      emin = emin < 10 ? '0'+emin : emin;
      var endTime = ehour + ':' + emin + ' ' + eampm;
      */
      $("#id_start_time").val(startTime);
      $("#id_start_day").val(autosday);
      $("#id_end_time").val(endTime);
      $("#id_end_day").val(autoeday);
    $("#members-page").show();
    });
    $(".show-events").on('click', function () {
    document.getElementById('show-events').style.pointerEvents = 'none';
    document.getElementById('show-calendar').style.pointerEvents = 'auto';
    $("#container").hide();
    $(".event-container").show();
    $(".show-events").css('color', 'gray');
    $(".show-events").css('cursor', 'default');
    $(".show-calendar").css('color', '#015D67');
    $(".show-calendar").css('cursor', 'pointer');
    });
    $(".show-calendar").on('click', function () {
    document.getElementById('show-calendar').style.pointerEvents = 'none';
    document.getElementById('show-events').style.pointerEvents = 'auto';
    $("#container").show();
    $(".event-container").hide();
    $(".show-events").css('color', '#015D67');
    $(".show-events").css('cursor', 'pointer');
    $(".show-calendar").css('color', 'gray');
    $(".show-calendar").css('cursor', 'default');
    });
    $("#id_all_day").change(function() {



      if ($("#id_all_day").prop('checked'))
      {
      oldstart = $("#id_start_time").val();
      oldend = $("#id_end_time").val();
      var start = '00:00';
      var end = '23:59'
      var startday = new Date(new Date().setHours(new Date().getHours(0),0,0));
      var endday = new Date(new Date().setHours(new Date().getHours(23),59,59));
      var sday = ("0" + startday.getDate()).slice(-2);
      var smonth = ("0" + (startday.getMonth() + 1)).slice(-2);
      var eday = ("0" + endday.getDate()).slice(-2);
      var emonth = ("0" + (endday.getMonth() + 1)).slice(-2);
      var autosday = startday.getFullYear()+"-"+(smonth)+"-"+(sday);
      var autoeday = endday.getFullYear()+"-"+(emonth)+"-"+(eday);
      $("#id_start_time").prop('disabled', true);
      $("#id_end_time").prop('disabled', true);
      $("#id_start_time").val(start);
      $("#id_start_day").val(autosday);
      $("#id_end_time").val(end);
      $("#id_end_day").val(autoeday);
      }
      else 
      {
        $("#id_start_time").prop('disabled', false);
      $("#id_end_time").prop('disabled', false);
      $("#id_start_time").val(oldstart);
      $("#id_end_time").val(oldend);
      }
});
});

</script>
  <script>

    $("#caret-icon").on('click', function () {
      $(this).toggleClass('la-angle-up la-angle-down');
      $(".dropdown-content").toggle('show hide');
    })

    $("#sidebar-toggle").on('click', function () {
      $(".sidebar").toggle('show hide');
    })
    $("#canc").on('click', function () {
      $("#members-page").hide();
      $("#event_form").trigger("reset");
    })
  </script>

  <script>
    let clickState = 0;
    $("#go_back").on("click", goback);

    function goback() {
      document.getElementById("myForm").style.width = "21%";
      document.getElementById("middle-panel").style.width = "100%"
      $(".left-panel").show();
      $(".middle-panel").hide();
      $(".right-panel").hide();

    };

    $("#expand").on("click", expand);

    function expand() {
      $(this).toggleClass('la-compress-arrows-alt la-expand-arrows-alt');
      if (clickState == 0) {
        document.getElementById("myForm").style.width = "600px";
        document.getElementById("middle-panel").style.width = "50%"
        document.getElementById("right-panel").style.width = "50%"
        $(".right-panel").show();
        clickState = 1;
      } else {
        $(".right-panel").hide();
        document.getElementById("myForm").style.width = "21%";
        document.getElementById("middle-panel").style.width = "100%"
        clickState = 0;
      }
    };

  </script>
  <script>
    let roomId = false;

    $(function () {
      // Correctly decide between ws:// and wss://
      var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
      var ws_path = ws_scheme + "://" + window.location.host + "/chat/stream/";
      console.log("Connecting to " + ws_path);

      //var socket = new WebSocket(ws_path);
      var socket = new ReconnectingWebSocket(ws_path);
      var roomName = null;
      $(".sending-form").on("submit", function () {

        event.preventDefault();
        if (roomName) {
          socket.send(
            JSON.stringify({
              "command": "send",
              "room": roomName,
              "message": document.querySelector('#typed_msg').value
            })
          );
          $("#typed_msg").empty();
          return false;
        }
      });

      $("#upload-photos-button").click(function () {
        $("#fileupload").click();
      });

      /* 2. INITIALIZE THE FILE UPLOAD COMPONENT */
      $("#fileupload").fileupload({
        dataType: 'json',
        done: function (e, data2) {  /* 3. PROCESS THE RESPONSE FROM THE SERVER */
          if (data2.result.is_valid) {
            /*send file to recipient and add a progress bar*/
            console.log("file uploaded")
            const message = 'file <a style=word-wrap:break-word; href="' + data2.result.url + '" target="_blank">' + data2.result.name + '</a>'
            if (roomName) {
              socket.send(
                JSON.stringify({
                  "command": "send",
                  "room": roomName,
                  "message": message
                })
              );
            }
          }

        }
      });

      // Handle incoming messages
      socket.onmessage = function (message) {
        console.log("message", message)
        console.log("Got websocket message " + message.data)
        var data = JSON.parse(message.data);
        console.log("data", data)
        // Handle errors
        if (data.error) {
          alert(data.error);
          return;
        }

        message = data.message


        // Handle joining
        if (data.join) {
          console.log("Joining room " + data.join);
          roomName = data.join;


          //   console.log("myself value: " + $("#myself").val() + "data.from_user value: " + message.from_user)

          // Hook up send button to send a message




          //hook up sending files
          /* 1. OPEN THE FILE EXPLORER WINDOW */


          $(".user-header h4").html(data.title);

          // Handle leaving
        } else if (data.leave) {
          console.log("Leaving room " + data.leave);
          roomName = null;
          $("#room-" + data.leave).remove();
          $(".user-header").empty();
          $(".chat-log").empty();

          // Handle getting a message
        } else if (data.message || data.msg_type != 0) {
          var msgdiv = $(".chat-log");
          var ok_msg = "";



          // msg types are defined in chat/settings.py
          // Only for demo purposes is hardcoded, in production scenarios, consider call a service.
          const LEFT_ROOM = 5;
          switch (data.msg_type) {
            case 0:
              // Message

              let text = (data.message.text) ? data.message.text : data.message;
              let user = (data.message.from_user) ? data.message.from_user : data.username;
              const cssClass = $("#myself").val() == user ? 'outgoing' : 'incoming';

              ok_msg =
                `<div class='${cssClass}''>` +
                `<span class='username'>` +
                user +
                `: </span>` +
                `<span class='text' > ` +
                text +
                `</span> ` +
                `</div> `;


              break;

            case 1:
              // Warning / Advice messages
              ok_msg =
                "<div class='contextual-message text-warning'>" +
                data.message +
                "</div>";
              break;
            case 2:
              // Alert / Danger messages
              ok_msg =
                "<div class='contextual-message text-danger'>" +
                data.message +
                "</div>";
              break;
            case 3:
              // "Muted" messages
              ok_msg =
                "<div class='contextual-message text-muted'>" +
                data.message +
                "</div>";
              break;
            /* case 4:
                 // User joined room
                 ok_msg =
                     "<div class='contextual-message text-muted'>" +
                     data.username +
                     " joined the room!" +
                     "</div>";
                 break;
             case LEFT_ROOM:
                 // User left room
                 ok_msg =
                     "<div class='contextual-message text-muted'>" +
                     data.username +
                     " left the room!" +
                     "</div>";
                 break;*/
            case "created":
              ok_msg =
                $(".rooms").append(
                  `<li class="room-link" data-room-id="${data.room}"> ${data.name}</li>`
                );

              break;
            case "room_exists":
              $("li[data-room-id=" + data.room_id + "]").click();
              ok_msg =
                "<div class='contextual-message text-muted'>room already exists</div>";
              break;

            case "get_members":
              var people = data.member


              // $(".avatar-list").append(
              //`<li><img src="" alt="user" class="profile-photo-lg"></li>`
              // );

              $(".list-of-members").append(
                `       <li>
            		        <span class="profile-link"><b>${people.username}</b></span>
        	            </li>`

              );

              /*$(".remove-buttons").append(
                  `<li style="padding-bottom: 18px;"><button data-id="${people.id}" class="remove-user">Remove User</button>
                      </li>`      //attach user id to remove button
              );*/

              break;

            default:
              console.log("Unsupported message type!");
              return;
          }

          $(".chat-log").html();
          if (data.msg_type != "created")
            msgdiv.append(ok_msg);

          msgdiv.scrollTop(msgdiv.prop("scrollHeight"));
        } else {
          console.log("Cannot handle message!");
        }
      };


      // Says if we joined a room or not by if there's a div for it
      inRoom = function (roomId) {
        return $("#room-" + roomId).length > 0;
      };

      // Room join/leave

      /* -Show all saved messages when joining a room
                  -Make it if already in that room either do nothing or reload that room
                  -if not in that room leave current room, if in one, then join the
                  room that was clicked on
                  -If not in room when a message comes in give it an unread class*/


      function roomClick() {
        roomId = $(this).attr("data-room-id");
        if (inRoom(roomId)) {
          // Leave room

          $(this).removeClass("joined");
          socket.send(
            JSON.stringify({
              command: "leave",
              room: roomId,
            })
          );
          $(".chat-log").empty();
          //empty chat log
        } else {
          // Join room

          $(this).addClass("joined");
          socket.send(
            JSON.stringify({
              command: "join",
              room: roomId,
            })
          );


          $(".list-of-members").empty();

          socket.send(
            JSON.stringify({
              command: "members",
              room: roomId,
            })
          );

          $(".left-panel").hide();
          $(".middle-panel").show();
          $("#typed_msg").show();
          $("#upload-photos-button").show();
          $(".msg_send_btn").show();
          $(".user-header").show();
          $("#create-chat").show();
          $("#tag-input").hide();
          $("#users-list").hide();
          $("#create-group").hide();
          $(".chat-log").empty();
          $(".rightAccordion").show();

        }
      }
      $(document).on('click', '.room-link', roomClick)



      // Creating Rooms

      $("#create-chat").click(function () {
        if (roomId) {
          if (inRoom(roomId)) {
            // Leave room

            $(this).removeClass("joined");
            socket.send(
              JSON.stringify({
                command: "leave",
                room: roomId,
              })
            );
          }
        }
        $("#upload-photos-button").hide();
        $(".user-header").hide();
        $("#create-chat").hide();
        $("#tag-input").show();
        $("#users-list").show();
        $("#create-group").show();
        $(".chat-log").empty();
        $("#typed_msg").hide();
        $(".msg_send_btn").hide();
        $(".rightAccordion").hide();
      });

      $("#create-group").click(function () {
        socket.send(
          JSON.stringify({
            command: "create",
            newUsers: JSON.parse($("#tag-input").val()),
          })
        );

        $("#tag-input").hide();
        $("#users-list").hide();
        $("#tag-input").empty();
        $("#create-group").hide();

        //join the room that was just created


        $("li[data-room-id=" + data.room_id + "]").click();

        $(".msg_send_btn").show();
        $(".user-header").show();
        $("#create-chat").show();
        $("#create-chat").show();
        $("#typed_msg").show();
        $("#upload-photos-button").show();
        $(".rightAccordion").show();
      });

      // Helpful debugging
      socket.onopen = function () {
        console.log("Connected to chat socket");
      };
      socket.onclose = function () {
        console.log("Disconnected from chat socket");
      };
    });
  </script>
</body>

</html>