{% extends 'app/index.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/signup.css' %}"/>
</head>
<h2>Sign Up</h2>
<form method="post" class="signup_layout">
    {% csrf_token %}
    <p>{{ form.username }} Required</p>
    <br />
    <p>{{ form.email }} Required</p>
    <br />
    <p>{{ form.password1 }} Must be at least 8 characters</p>
    <br />
    <p>{{ form.password2 }} Enter the same password as before</p>
    <br />
    <button type="submit">Sign Up</button>
</form>
{% endblock %}